@import 'vars.less';

body{
	background:url('../_imgs/layout/bg-listrado.png');
	#faixa-colorida-superior{
		height:10px;
		//background:url('../_imgs/layout/padrao_topo.png') left top repeat-x;
		background-color:@vermelho_rodape;
	}
	header{
		background:url('../_imgs/layout/silhueta-predios.png') left top repeat-x;
		&.header-home{
			height:420px;
		}		
		.centro{ 
			.centralizar;
			position:relative;
			height:260px;
			#link-home{
				position:absolute;
				top:15px;
				left:-30px;
				display:block;
			}
			nav{
				position: absolute;
				right:0;
				top:30px;
				height:20px;
				width:700px;
				ul{
					height:20px;
					font-size:0;
					li{
						width:100px;
						.inline;
						a{
							padding-left:17px;
							width:81px;
							height:20px;
							line-height:20px;
							display:block;
							color:#fff;
							background:url('../_imgs/layout/seta-menu-principal.png') @quase_preto 5px center no-repeat;
							.arredondada(4px);
							.crimson_italico(14px);
							.transition;
							&:active, &:visited{color:#fff;}
							&:hover, &.ativo{
								background:url('../_imgs/layout/seta-menu-principal-rosa.png') @vermelho_rodape 5px center no-repeat;
							}
							&:before{
								content: url("../_imgs/layout/seta-menu-principal-rosa.png");
						        width:0;
						        height:0;
						        display:none;
						    }
						}
					}
				}
			}
			#preload-imgs{
				position:absolute;
				top:-8000px;
				left:-8000px;
				.img1{ background:url('../_imgs/layout/menu-boutique-chumbo.png') center top no-repeat; }
				.img2{ background:url('../_imgs/layout/menu-alimentacao-chumbo.png') center top no-repeat; }
				.img3{ background:url('../_imgs/layout/menu-higiene-chumbo.png') center top no-repeat; }
				.img4{ background:url('../_imgs/layout/menu-farmacia-chumbo.png') center top no-repeat; }
				.img5{ background:url('../_imgs/layout/menu-caes-chumbo_menor.png') center top no-repeat; }
				.img6{ background:url('../_imgs/layout/menu-gatos-chumbo_menor.png') center top no-repeat; }
				.img7{ background:url('../_imgs/layout/menu-aves-chumbo_menor.png') center top no-repeat; }
				.img8{ background:url('../_imgs/layout/menu-peixes-chumbo_menor.png') center top no-repeat; }
				.img9{ background:url('../_imgs/layout/menu-outros-chumbo_menor.png') center top no-repeat; }
			}
			#main-nav{
				width:338px;
				position:absolute;
				z-index:2;
				top:68px;
				left:207px;
				height:100px;
				font-size:0;
				li.abre-submenu{
					.inline;
					&.ultimo{margin-right:0;}
					width:71px;
					text-align:center;
					margin-right:15px;
					line-height:100%;
					color:@quase_preto;
					position:relative;
					padding-top:71px;
					.crimson_bold_italico(14px);
					.transition;
					&:hover{ cursor:pointer; }
					&.boutique{
						background:url('../_imgs/layout/menu-boutique-branco.png') center top no-repeat;
						ul.submenu{ background-color:@amarelo; }
						&:hover, &.ativo{
							background:url('../_imgs/layout/menu-boutique-chumbo.png') center top no-repeat;
						}
					}
					&.alimentacao{
						width:80px;
						background:url('../_imgs/layout/menu-alimentacao-branco.png') center top no-repeat;
						ul.submenu{ background-color:@verde; }
						&:hover, &.ativo{
							background:url('../_imgs/layout/menu-alimentacao-chumbo.png') center top no-repeat;
						}
					}
					&.higiene{
						background:url('../_imgs/layout/menu-higiene-branco.png') center top no-repeat;
						ul.submenu{ background-color:@azul; }
						&:hover, &.ativo{
							background:url('../_imgs/layout/menu-higiene-chumbo.png') center top no-repeat;
						}
					}
					&.farmacia{
						background:url('../_imgs/layout/menu-farmacia-branco.png') center top no-repeat;
						ul.submenu{ background-color:@vermelho; }
						&:hover, &.ativo{
							background:url('../_imgs/layout/menu-farmacia-chumbo.png') center top no-repeat;
						}
					}
					ul.submenu{
						padding:6px 10px;
						width:100px;
						position:relative;
						z-index:999999999;
						margin-top:3px;
						left:-24px;
						opacity:1;
						.transition;
						&.hid{
							opacity:0;
							display:none;
						}
						li{
							display:block;
							width:100px;
							min-height:20px;
							text-align:center;
							border-top:1px #fff solid;
							margin-right:0;
							&.primeiro{ border-top:0; }
							a{
								.crimson_bold_italico(12px);
								display:block;
								padding:3px 0;
								color:@quase_preto;
								.transition;
								&:active, &:visited{color:@quase_preto;}
								&:hover{
									color:#fff;
								}
							}
						}
					}
				}
			}
			#div-form-busca{
				width:184px;
				padding:0 8px;
				position:absolute;
				top:70px;
				right:2px;
				background-color:#CCC;
				.arredondada(4px);
				height:25px;
				font-size:0;
				form{
					width:184px;
					input[type="text"]{
						.inline;
						width:154px;
						border:0;
						background-color:#ccc;
						margin:0;
						padding:3px 0;
						height:19px;
						line-height:19px;
						color:@quase_preto;
						.crimson_bold_italico(14px);
						::-webkit-input-placeholder { color:@quase_preto; }
						:-moz-placeholder { color:@quase_preto; }
						::-moz-placeholder { color:@quase_preto; }
						:-ms-input-placeholder { color:@quase_preto; }
					}
					input[type="image"]{
						.inline;
						width:23px;
						height:26px;
						margin:3px 0 0 0;
						padding:0;
						border:0;
					}
				}
			}
			#slides{
				.arredondada(10px);
				width:450px;
				height:310px;
				background:#FFF;
				position:absolute;
				top:100px;
				right:0;
				z-index:0;
				#animate{
					width:430px;
					height:280px;
					right:-40px;
					position:relative;
					top:7px;
					.slide{
						&.hid{ display:none; }
						img{
							.transition;
							.arredondada(10px);
							border:1px transparent solid;
						}
						.texto{
							padding:0 9px;
							position:absolute;
							top:233px;
							left:-20px;
							background-color:@vermelho_home_slides;
							height:30px;
							line-height:30px;
							color:#fff;
							.arredondada(4px);
							.crimson_bold_italico(16px);
						}
						&:hover{
							img{
								border:1px @vermelho_rodape solid;		
							}
						}
					}
				}
				#navegacao{
					position:absolute;
					bottom:0;
					right:0;
					height:23px;
					line-height:23px;
					width:430px;
					padding:0 10px;
					text-align:right;
					font-size:0;
					a{
						.inline;
						margin:6px 2px 0 2px;
						width:10px;
						height:10px;
						.arredondada(10px);
						background-color:@quase_preto;
						.transition;
						&:hover, &.activeSlide{ background-color:@vermelho_home_slides; }
					}
				}
			}
			#chamada-home{
				width:510px;
				height:100px;
				top:280px;
				left:0;
				position:absolute;
				color:#fff;
				h1{
					.crimson_bold_italico(34px);
					line-height:110%;
					margin-bottom:10px;
				}
				h2{
					.crimson_bold_italico(20px);
				}
			}
			#frase-internas{
				.crimson_bold_italico(20px);
				color:#C01944;
				line-height:25px;
				height:50px;
				width:340px;
				position:absolute;
				right:0;
				top:115px;
				text-align:right;
			}
		}
	}
	footer{
		background-color:@vermelho_rodape;
		.centro{
			.centralizar;
			font-size:0;
			.coluna{
				.inline;
				padding:15px 0;
				color:#fff;
				min-height:126px;
				border-right:1px #CC4568 solid;
				&.primeira{
					width:210px;
					.telefone{
						.verdana(14px, bold);
						margin-bottom:30px;
					}
					.endereco{.verdana(10px, bold);}
				}
				&.segunda, &.terceira, &.quarta{
					padding-left:17px;
					padding-top:13px;
					width:113px;
					ul{
						list-style:none;
						li{
							height:16px;
							line-height:16px;
							margin:2px 0;
							.verdana(10px, bold);
							a{
								height:16px;
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{
									color:@quase_preto;
								}
							}
						}
					}
				}
				&.terceira{ width:143px !important; }
				&.quarta{ width:251px !important; }
				&.quinta{
					padding-left:17px;
					border:0;
					width:175px;
					.verdana(10px);
					color:#fff;
					a{
						padding-bottom:2px;
						display:block;
						margin-top:15px;
						width:165px;
						color:#fff;
						line-height:190%;
						//background:url('../_imgs/layout/trupe.png') right bottom no-repeat;
						img{
							vertical-align:middle;
							margin-left:8px;
						}
						span{ .transition; border-bottom:1px transparent dotted;}
						&:active, &:visited{ color:#fff; }
						&:hover{
							span{
								border-bottom:1px #fff dotted;
							}
						}
					}
				}
			}
		}
	}
}
h3.no-result{
	text-align: center;
	margin:40px 0;
	height:50px;
	line-height:50px;
	.crimson_bold_italico(22px);
	color:#fff;
}
.alerta-sucesso{
	display:block;
	width:100%;
	position:fixed;
	top:325px;
	left:0;
	height:78px;
	&.hid{
		display:none;
	}
	div{
		border:5px @vermelho_rodape solid;
		.crimson_bold_italico(18px);
		text-align:center;
		width:550px;
		padding:20px 15px;
		margin:0 auto;
		.arredondada(10px);
		color:@vermelho_rodape;
		background-color:#fff;
	}
}