.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
body{background:url('../_imgs/layout/bg-listrado.png');}body #faixa-colorida-superior{height:10px;background-color:#bb214e;}
body header{background:url('../_imgs/layout/silhueta-predios.png') left top repeat-x;}body header.header-home{height:420px;}
body header .centro{width:980px;padding:0 0;margin:0 auto;position:relative;height:260px;}body header .centro #link-home{position:absolute;top:15px;left:-30px;display:block;}
body header .centro nav{position:absolute;right:0;top:30px;height:20px;width:700px;}body header .centro nav ul{height:20px;font-size:0;}body header .centro nav ul li{width:100px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}body header .centro nav ul li a{padding-left:17px;width:81px;height:20px;line-height:20px;display:block;color:#fff;background:url('../_imgs/layout/seta-menu-principal.png') #34393a 5px center no-repeat;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;font-family:'PT Serif','Times New Roman',serif;font-size:14px;font-weight:400;font-style:italic;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body header .centro nav ul li a:active,body header .centro nav ul li a:visited{color:#fff;}
body header .centro nav ul li a:hover,body header .centro nav ul li a.ativo{background:url('../_imgs/layout/seta-menu-principal-rosa.png') #bb214e 5px center no-repeat;}
body header .centro nav ul li a:before{content:url("../_imgs/layout/seta-menu-principal-rosa.png");width:0;height:0;display:none;}
body header .centro #preload-imgs{position:absolute;top:-8000px;left:-8000px;}body header .centro #preload-imgs .img1{background:url('../_imgs/layout/menu-boutique-chumbo.png') center top no-repeat;}
body header .centro #preload-imgs .img2{background:url('../_imgs/layout/menu-alimentacao-chumbo.png') center top no-repeat;}
body header .centro #preload-imgs .img3{background:url('../_imgs/layout/menu-higiene-chumbo.png') center top no-repeat;}
body header .centro #preload-imgs .img4{background:url('../_imgs/layout/menu-farmacia-chumbo.png') center top no-repeat;}
body header .centro #preload-imgs .img5{background:url('../_imgs/layout/menu-caes-chumbo_menor.png') center top no-repeat;}
body header .centro #preload-imgs .img6{background:url('../_imgs/layout/menu-gatos-chumbo_menor.png') center top no-repeat;}
body header .centro #preload-imgs .img7{background:url('../_imgs/layout/menu-aves-chumbo_menor.png') center top no-repeat;}
body header .centro #preload-imgs .img8{background:url('../_imgs/layout/menu-peixes-chumbo_menor.png') center top no-repeat;}
body header .centro #preload-imgs .img9{background:url('../_imgs/layout/menu-outros-chumbo_menor.png') center top no-repeat;}
body header .centro #main-nav{width:338px;position:absolute;z-index:2;top:68px;left:207px;height:100px;font-size:0;}body header .centro #main-nav li.abre-submenu{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:71px;text-align:center;margin-right:15px;line-height:100%;color:#34393a;position:relative;padding-top:71px;font-family:'PT Serif','Times New Roman',serif;font-size:14px;font-weight:600;font-style:italic;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body header .centro #main-nav li.abre-submenu.ultimo{margin-right:0;}
body header .centro #main-nav li.abre-submenu:hover{cursor:pointer;}
body header .centro #main-nav li.abre-submenu.boutique{background:url('../_imgs/layout/menu-boutique-branco.png') center top no-repeat;}body header .centro #main-nav li.abre-submenu.boutique ul.submenu{background-color:#ffcb64;}
body header .centro #main-nav li.abre-submenu.boutique:hover,body header .centro #main-nav li.abre-submenu.boutique.ativo{background:url('../_imgs/layout/menu-boutique-chumbo.png') center top no-repeat;}
body header .centro #main-nav li.abre-submenu.alimentacao{width:80px;background:url('../_imgs/layout/menu-alimentacao-branco.png') center top no-repeat;}body header .centro #main-nav li.abre-submenu.alimentacao ul.submenu{background-color:#b3db68;}
body header .centro #main-nav li.abre-submenu.alimentacao:hover,body header .centro #main-nav li.abre-submenu.alimentacao.ativo{background:url('../_imgs/layout/menu-alimentacao-chumbo.png') center top no-repeat;}
body header .centro #main-nav li.abre-submenu.higiene{background:url('../_imgs/layout/menu-higiene-branco.png') center top no-repeat;}body header .centro #main-nav li.abre-submenu.higiene ul.submenu{background-color:#5d9de4;}
body header .centro #main-nav li.abre-submenu.higiene:hover,body header .centro #main-nav li.abre-submenu.higiene.ativo{background:url('../_imgs/layout/menu-higiene-chumbo.png') center top no-repeat;}
body header .centro #main-nav li.abre-submenu.farmacia{background:url('../_imgs/layout/menu-farmacia-branco.png') center top no-repeat;}body header .centro #main-nav li.abre-submenu.farmacia ul.submenu{background-color:#ff1f44;}
body header .centro #main-nav li.abre-submenu.farmacia:hover,body header .centro #main-nav li.abre-submenu.farmacia.ativo{background:url('../_imgs/layout/menu-farmacia-chumbo.png') center top no-repeat;}
body header .centro #main-nav li.abre-submenu ul.submenu{padding:6px 10px;width:100px;position:relative;z-index:999999999;margin-top:3px;left:-24px;opacity:1;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body header .centro #main-nav li.abre-submenu ul.submenu.hid{opacity:0;display:none;}
body header .centro #main-nav li.abre-submenu ul.submenu li{display:block;width:100px;min-height:20px;text-align:center;border-top:1px #fff solid;margin-right:0;}body header .centro #main-nav li.abre-submenu ul.submenu li.primeiro{border-top:0;}
body header .centro #main-nav li.abre-submenu ul.submenu li a{font-family:'PT Serif','Times New Roman',serif;font-size:12px;font-weight:600;font-style:italic;display:block;padding:3px 0;color:#34393a;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body header .centro #main-nav li.abre-submenu ul.submenu li a:active,body header .centro #main-nav li.abre-submenu ul.submenu li a:visited{color:#34393a;}
body header .centro #main-nav li.abre-submenu ul.submenu li a:hover{color:#fff;}
body header .centro #div-form-busca{width:184px;padding:0 8px;position:absolute;top:70px;right:2px;background-color:#CCC;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;height:25px;font-size:0;}body header .centro #div-form-busca form{width:184px;}body header .centro #div-form-busca form input[type="text"]{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:154px;border:0;background-color:#ccc;margin:0;padding:3px 0;height:19px;line-height:19px;color:#34393a;font-family:'PT Serif','Times New Roman',serif;font-size:14px;font-weight:600;font-style:italic;}body header .centro #div-form-busca form input[type="text"] ::-webkit-input-placeholder{color:#34393a;}
body header .centro #div-form-busca form input[type="text"] :-moz-placeholder{color:#34393a;}
body header .centro #div-form-busca form input[type="text"] ::-moz-placeholder{color:#34393a;}
body header .centro #div-form-busca form input[type="text"] :-ms-input-placeholder{color:#34393a;}
body header .centro #div-form-busca form input[type="image"]{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:23px;height:26px;margin:3px 0 0 0;padding:0;border:0;}
body header .centro #slides{-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;width:450px;height:310px;background:#FFF;position:absolute;top:100px;right:0;z-index:0;}body header .centro #slides #animate{width:430px;height:280px;right:-40px;position:relative;top:7px;}body header .centro #slides #animate .slide.hid{display:none;}
body header .centro #slides #animate .slide img{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;border:1px transparent solid;}
body header .centro #slides #animate .slide .texto{padding:0 9px;position:absolute;top:233px;left:-20px;background-color:#c01944;height:30px;line-height:30px;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;border-radius:4px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;}
body header .centro #slides #animate .slide:hover img{border:1px #bb214e solid;}
body header .centro #slides #navegacao{position:absolute;bottom:0;right:0;height:23px;line-height:23px;width:430px;padding:0 10px;text-align:right;font-size:0;}body header .centro #slides #navegacao a{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin:6px 2px 0 2px;width:10px;height:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;background-color:#34393a;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body header .centro #slides #navegacao a:hover,body header .centro #slides #navegacao a.activeSlide{background-color:#c01944;}
body header .centro #chamada-home{width:510px;height:100px;top:280px;left:0;position:absolute;color:#fff;}body header .centro #chamada-home h1{font-family:'PT Serif','Times New Roman',serif;font-size:34px;font-weight:600;font-style:italic;line-height:110%;margin-bottom:10px;}
body header .centro #chamada-home h2{font-family:'PT Serif','Times New Roman',serif;font-size:20px;font-weight:600;font-style:italic;}
body header .centro #frase-internas{font-family:'PT Serif','Times New Roman',serif;font-size:20px;font-weight:600;font-style:italic;color:#C01944;line-height:25px;height:50px;width:340px;position:absolute;right:0;top:115px;text-align:right;}
body footer{background-color:#bb214e;}body footer .centro{width:980px;padding:0 0;margin:0 auto;font-size:0;}body footer .centro .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding:15px 0;color:#fff;min-height:126px;border-right:1px #CC4568 solid;}body footer .centro .coluna.primeira{width:210px;}body footer .centro .coluna.primeira .telefone{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;margin-bottom:30px;}
body footer .centro .coluna.primeira .endereco{font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:bold;}
body footer .centro .coluna.segunda,body footer .centro .coluna.terceira,body footer .centro .coluna.quarta{padding-left:17px;padding-top:13px;width:113px;}body footer .centro .coluna.segunda ul,body footer .centro .coluna.terceira ul,body footer .centro .coluna.quarta ul{list-style:none;}body footer .centro .coluna.segunda ul li,body footer .centro .coluna.terceira ul li,body footer .centro .coluna.quarta ul li{height:16px;line-height:16px;margin:2px 0;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:bold;}body footer .centro .coluna.segunda ul li a,body footer .centro .coluna.terceira ul li a,body footer .centro .coluna.quarta ul li a{height:16px;color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}body footer .centro .coluna.segunda ul li a:active,body footer .centro .coluna.terceira ul li a:active,body footer .centro .coluna.quarta ul li a:active,body footer .centro .coluna.segunda ul li a:visited,body footer .centro .coluna.terceira ul li a:visited,body footer .centro .coluna.quarta ul li a:visited{color:#fff;}
body footer .centro .coluna.segunda ul li a:hover,body footer .centro .coluna.terceira ul li a:hover,body footer .centro .coluna.quarta ul li a:hover{color:#34393a;}
body footer .centro .coluna.terceira{width:143px !important;}
body footer .centro .coluna.quarta{width:251px !important;}
body footer .centro .coluna.quinta{padding-left:17px;border:0;width:175px;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:normal;color:#fff;}body footer .centro .coluna.quinta a{padding-bottom:2px;display:block;margin-top:15px;width:165px;color:#fff;line-height:190%;}body footer .centro .coluna.quinta a img{vertical-align:middle;margin-left:8px;}
body footer .centro .coluna.quinta a span{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;border-bottom:1px transparent dotted;}
body footer .centro .coluna.quinta a:active,body footer .centro .coluna.quinta a:visited{color:#fff;}
body footer .centro .coluna.quinta a:hover span{border-bottom:1px #fff dotted;}
h3.no-result{text-align:center;margin:40px 0;height:50px;line-height:50px;font-family:'PT Serif','Times New Roman',serif;font-size:22px;font-weight:600;font-style:italic;color:#fff;}
.alerta-sucesso{display:block;width:100%;position:fixed;top:325px;left:0;height:78px;}.alerta-sucesso.hid{display:none;}
.alerta-sucesso div{border:5px #bb214e solid;font-family:'PT Serif','Times New Roman',serif;font-size:18px;font-weight:600;font-style:italic;text-align:center;width:550px;padding:20px 15px;margin:0 auto;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;color:#bb214e;background-color:#fff;}
