@import 'vars.less';

.main{
	.centro{
		min-height: 600px;
		.centralizar;
		padding:10px 0;
		h1{
			padding:0 10px;
			color:#fff;
			background-color:@vermelho_home_slides;
			height:40px;
			line-height:40px;
			margin-bottom:10px;
			.crimson_bold_italico(30px);
			.arredondada(6px);	
		}
		h2{
			color:#fff;
			.verdana(14px, bold);
			margin-bottom:20px;
		}
		h3{
			height:30px;
			padding:0 10px;
			.crimson_bold_italico(20px);
			color:#fff;
			margin:20px 0;
			.arredondada(6px);
			&.boutique{background-color:@cor_boutique;}
			&.alimentacao{background-color:@cor_alimentacao;}
			&.higiene{background-color:@cor_higiene;}
			&.farmacia{background-color:@cor_farmacia;}
		}
		a.link{
			display:block;
			overflow:hidden;
			position:relative;
			padding:8px;
			background-color:#fff;
			width:164px;
			height:164px;
			margin-bottom:20px;
			margin-right:20px;
			.arredondada(10px);
			&.ultimo{margin-right:0;}
			.inline;
			.secao{
				text-align:center;
				height:17px;
				line-height:17px;
				overflow:hidden;
				white-space:normal;
				.crimson_bold_italico(12px);
				&.todos{ border-bottom:1px #CCC solid; color:#CCC; }
				&.boutique{ border-bottom:1px #FFB013 solid; color:#FFB013; }
				&.alimentacao{ border-bottom:1px #8AC918 solid; color:#8AC918; }
				&.higiene_e_beleza{ border-bottom:1px #5D9DE4 solid; color:#5D9DE4; }
				&.farmacia{ border-bottom:1px #FE002A solid; color:#FE002A; }
			}
			img{
				display:block;
				margin:2px auto;
				width:120px;
				height:120px;
			}
			.titulo{
				.verdana(12px);
				color:@quase_preto;
				text-align:center;
				white-space:normal;
				line-height:120%;
				height:30px;
				overflow:hidden;
			}
			.overlay{
				.transition;
				position:absolute;
				top:0;
				left:0;
				width:180px;
				height:180px;
				.arredondada(10px);
				opacity:0;
				z-index:999;
				&.todos{ background-color:@cor_todos; }
				&.boutique{ background-color:@amarelo; }
				&.alimentacao{ background-color:@verde; }
				&.higiene_e_beleza{ background-color:@azul; }
				&.farmacia{ background-color:@vermelho; }
				.verdana(14px, bold);
				color:@quase_preto;
				line-height:180px;
				text-align:center;
			}
			.overlay-texto{
				.transition;
				position:absolute;
				top:0;
				left:0;
				width:180px;
				height:180px;
				.arredondada(10px);
				opacity:0;
				z-index:99999;
				.verdana(14px, bold);
				color:@quase_preto;
				line-height:180px;
				text-align:center;	
			}
			&:hover{
				.overlay{ opacity:0.8; }
				.overlay-texto{ opacity:1; }
			}
		}
	}
	h3.no-result{
		text-align: center;
		margin:40px 0;
		height:50px;
		line-height:50px;
		.crimson_bold_italico(22px);
		color:#fff;
	}	
}