.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.main .centro{min-height:600px;width:980px;padding:0 0;margin:0 auto;padding:10px 0;}.main .centro h1{padding:0 10px;color:#fff;background-color:#c01944;height:40px;line-height:40px;margin-bottom:10px;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.main .centro h2{color:#fff;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;margin-bottom:20px;}
.main .centro h3{height:30px;padding:0 10px;font-family:'PT Serif','Times New Roman',serif;font-size:20px;font-weight:600;font-style:italic;color:#fff;margin:20px 0;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;}.main .centro h3.boutique{background-color:#ffb013;}
.main .centro h3.alimentacao{background-color:#8ac918;}
.main .centro h3.higiene{background-color:#5d9de4;}
.main .centro h3.farmacia{background-color:#fe002a;}
.main .centro a.link{display:block;overflow:hidden;position:relative;padding:8px;background-color:#fff;width:164px;height:164px;margin-bottom:20px;margin-right:20px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}.main .centro a.link.ultimo{margin-right:0;}
.main .centro a.link .secao{text-align:center;height:17px;line-height:17px;overflow:hidden;white-space:normal;font-family:'PT Serif','Times New Roman',serif;font-size:12px;font-weight:600;font-style:italic;}.main .centro a.link .secao.todos{border-bottom:1px #CCC solid;color:#CCC;}
.main .centro a.link .secao.boutique{border-bottom:1px #FFB013 solid;color:#FFB013;}
.main .centro a.link .secao.alimentacao{border-bottom:1px #8AC918 solid;color:#8AC918;}
.main .centro a.link .secao.higiene_e_beleza{border-bottom:1px #5D9DE4 solid;color:#5D9DE4;}
.main .centro a.link .secao.farmacia{border-bottom:1px #FE002A solid;color:#FE002A;}
.main .centro a.link img{display:block;margin:2px auto;width:120px;height:120px;}
.main .centro a.link .titulo{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#34393a;text-align:center;white-space:normal;line-height:120%;height:30px;overflow:hidden;}
.main .centro a.link .overlay{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;position:absolute;top:0;left:0;width:180px;height:180px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;opacity:0;z-index:999;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#34393a;line-height:180px;text-align:center;}.main .centro a.link .overlay.todos{background-color:#cccccc;}
.main .centro a.link .overlay.boutique{background-color:#ffcb64;}
.main .centro a.link .overlay.alimentacao{background-color:#b3db68;}
.main .centro a.link .overlay.higiene_e_beleza{background-color:#5d9de4;}
.main .centro a.link .overlay.farmacia{background-color:#ff1f44;}
.main .centro a.link .overlay-texto{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;position:absolute;top:0;left:0;width:180px;height:180px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;opacity:0;z-index:99999;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#34393a;line-height:180px;text-align:center;}
.main .centro a.link:hover .overlay{opacity:0.8;}
.main .centro a.link:hover .overlay-texto{opacity:1;}
.main h3.no-result{text-align:center;margin:40px 0;height:50px;line-height:50px;font-family:'PT Serif','Times New Roman',serif;font-size:22px;font-weight:600;font-style:italic;color:#fff;}
