@import 'vars.less';

.centro{
	.centralizar;
	padding:5px 0 20px 0;
	h1{
		padding:0 10px;
		color:#fff;
		background-color:@vermelho_home_slides;
		height:40px;
		line-height:40px;
		margin-bottom:30px;
		.crimson_bold_italico(30px);
		.arredondada(6px);
	}
	.container{
		font-size:0;
		.coluna{
			.inline;
			width:467px;
			color:#fff;
			&.margem{ margin-right:45px; }
			.telefone{
				.crimson_bold_italico(34px);
				margin-bottom: 5px;
			}
			.endereco{
				line-height:160%;
				.verdana(14px, bold);
				margin-bottom: 20px;
			}
			small{
				display:block;
				height:15px;
				text-align:right;
				a{
					color:#fff;
					.verdana(10px, bold);
					.transition;
					&:active, &:visited{ color:#fff; }
					&:hover{ color:@vermelho_rodape; }
				}
			}
			.streetviewimg{
				margin-top:20px;
			}
			form{
				margin-bottom:60px;

				&.amarelo{
					h2{ margin-bottom:15px;}
					.fundo-colorido{ background-color:@novidades_amarelo; }
					label input, label textarea{ background-color: @amarelo; }
					input[type="submit"]{ background-color:@novidades_amarelo; }
				}
				&.verde{
					h2{ margin-bottom:8px;}
					h3{ margin-bottom:15px;}
					.fundo-colorido{ background-color:@novidades_verde; }
					label input, label textarea{ background-color: @verde; }
					input[type="submit"]{ background-color:@novidades_verde; }
				}
				.fundo-colorido{
					.arredondada(10px);
					padding:13px 18px;
					h2{
						.crimson_bold_italico(30px);
						color:#fff;
						line-height:100%;
					}
					h3{
						.verdana(14px, bold);
						color:#fff;
						line-height:100%;
					}
					label{
						display:block;
						margin-bottom:5px;
						input[type="text"], input[type="email"], textarea{
							border:0;
							margin:0;
							color:@quase_preto;
							padding:5px 10px;
							height:20px;
							line-height:20px;
							width:411px;
							.arredondada(10px);
							.verdana(14px, bold);
						}
						textarea{
							height:156px;
							resize:none;
							overflow:auto;
						}
						&#file-input{
							min-height:30px;
							position:relative;
							#fake-input{
								position:absolute;
								width:411px;
								padding:5px 10px;
								height:20px;
								line-height:20px;
								.verdana(14px, bold);
								background-color:#FFF;
								.arredondada(10px);
								color:@quase_preto;
								.transition;
								overflow:hidden;
								white-space:nowrap;
								text-overflow: ellipsis;
								&:hover{ cursor:pointer; color:@novidades_verde; }
							}
							input[type="file"]{
								position:absolute;
								visibility:hidden;
								opacity:0;
							}
						}
					}
					.alerta{
						width:427px;
						height:20px;
						margin-bottom:3px;
						line-height:20px;
						text-align:center;
						border:2px @novidades_vermelho_claro solid;
						background-color:@novidades_vermelho;
						.verdana(10px, bold);
						.arredondada(8px);
						color:#fff;
						.transition;
						&.hid{
							font-size:0;
							height:0;
						}
					}
				}
				.area-click{
					position:relative;
					padding:5px;
					.arredondada(10px);
					.transition;
					background-color:@novidades_verde;
					#seta{
						.transition;
						width:22px;
						height:22px;
						line-height:22px;
						position:absolute;
						right:4px;
						bottom:8px;
						.verdana(28px);
						color:#fff;
						text-align:center;
						-webkit-transform-origin: 50% 50%;
						-moz-transform-origin: 50% 50%;
						-ms-transform-origin: 50% 50%;
						-o-transform-origin: 50% 50%;
						transform-origin: 50% 50%;
					}
					&:hover{
						#seta{
							-webkit-transform: rotate(90deg);
							-moz-transform: rotate(90deg);
							-ms-transform: rotate(90deg);
							-o-transform: rotate(90deg);
							transform: rotate(90deg);
						}
						cursor:pointer;
						h2, h3{ color:@quase_preto; }
					}
					&.aberto{
						#seta{
							-webkit-transform: rotate(90deg);
							-moz-transform: rotate(90deg);
							-ms-transform: rotate(90deg);
							-o-transform: rotate(90deg);
							transform: rotate(90deg);
						}
					}
				}
				#hid-form{.transition;}
				#hid-submit{.transition;}
				.hid{
					//display:none !important;
					height:0;
					opacity:0;
					padding:0;
				}
				input[type="submit"]{
					border:0;
					padding:0;
					display:block;
					.transition;
					width:431px;
					margin:8px auto;
					height:30px;
					line-height:33px;
					text-align:center;
					.verdana(18px, bold);
					color:@quase_preto;
					.arredondada(10px);
					&:hover{ cursor:pointer; color:#fff; }
				}				
			}
		}
	}
}