.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.centro{width:980px;padding:0 0;margin:0 auto;padding:5px 0 20px 0;}.centro h1{padding:0 10px;color:#fff;background-color:#c01944;height:40px;line-height:40px;margin-bottom:30px;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.centro .container{font-size:0;}.centro .container .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:467px;color:#fff;}.centro .container .coluna.margem{margin-right:45px;}
.centro .container .coluna .telefone{font-family:'PT Serif','Times New Roman',serif;font-size:34px;font-weight:600;font-style:italic;margin-bottom:5px;}
.centro .container .coluna .endereco{line-height:160%;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;margin-bottom:20px;}
.centro .container .coluna small{display:block;height:15px;text-align:right;}.centro .container .coluna small a{color:#fff;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.centro .container .coluna small a:active,.centro .container .coluna small a:visited{color:#fff;}
.centro .container .coluna small a:hover{color:#bb214e;}
.centro .container .coluna .streetviewimg{margin-top:20px;}
.centro .container .coluna form{margin-bottom:60px;}.centro .container .coluna form.amarelo h2{margin-bottom:15px;}
.centro .container .coluna form.amarelo .fundo-colorido{background-color:#ffb013;}
.centro .container .coluna form.amarelo label input,.centro .container .coluna form.amarelo label textarea{background-color:#ffcb64;}
.centro .container .coluna form.amarelo input[type="submit"]{background-color:#ffb013;}
.centro .container .coluna form.verde h2{margin-bottom:8px;}
.centro .container .coluna form.verde h3{margin-bottom:15px;}
.centro .container .coluna form.verde .fundo-colorido{background-color:#8ac918;}
.centro .container .coluna form.verde label input,.centro .container .coluna form.verde label textarea{background-color:#b3db68;}
.centro .container .coluna form.verde input[type="submit"]{background-color:#8ac918;}
.centro .container .coluna form .fundo-colorido{-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;padding:13px 18px;}.centro .container .coluna form .fundo-colorido h2{font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;color:#fff;line-height:100%;}
.centro .container .coluna form .fundo-colorido h3{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#fff;line-height:100%;}
.centro .container .coluna form .fundo-colorido label{display:block;margin-bottom:5px;}.centro .container .coluna form .fundo-colorido label input[type="text"],.centro .container .coluna form .fundo-colorido label input[type="email"],.centro .container .coluna form .fundo-colorido label textarea{border:0;margin:0;color:#34393a;padding:5px 10px;height:20px;line-height:20px;width:411px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;}
.centro .container .coluna form .fundo-colorido label textarea{height:156px;resize:none;overflow:auto;}
.centro .container .coluna form .fundo-colorido label#file-input{min-height:30px;position:relative;}.centro .container .coluna form .fundo-colorido label#file-input #fake-input{position:absolute;width:411px;padding:5px 10px;height:20px;line-height:20px;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;background-color:#FFF;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;color:#34393a;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}.centro .container .coluna form .fundo-colorido label#file-input #fake-input:hover{cursor:pointer;color:#8ac918;}
.centro .container .coluna form .fundo-colorido label#file-input input[type="file"]{position:absolute;visibility:hidden;opacity:0;}
.centro .container .coluna form .fundo-colorido .alerta{width:427px;height:20px;margin-bottom:3px;line-height:20px;text-align:center;border:2px #fe5973 solid;background-color:#fe002a;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:bold;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.centro .container .coluna form .fundo-colorido .alerta.hid{font-size:0;height:0;}
.centro .container .coluna form .area-click{position:relative;padding:5px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;background-color:#8ac918;}.centro .container .coluna form .area-click #seta{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;width:22px;height:22px;line-height:22px;position:absolute;right:4px;bottom:8px;font-family:'Verdana','Arial',sans-serif;font-size:28px;font-weight:normal;color:#fff;text-align:center;-webkit-transform-origin:50% 50%;-moz-transform-origin:50% 50%;-ms-transform-origin:50% 50%;-o-transform-origin:50% 50%;transform-origin:50% 50%;}
.centro .container .coluna form .area-click:hover{cursor:pointer;}.centro .container .coluna form .area-click:hover #seta{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.centro .container .coluna form .area-click:hover h2,.centro .container .coluna form .area-click:hover h3{color:#34393a;}
.centro .container .coluna form .area-click.aberto #seta{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);}
.centro .container .coluna form #hid-form{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.centro .container .coluna form #hid-submit{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.centro .container .coluna form .hid{height:0;opacity:0;padding:0;}
.centro .container .coluna form input[type="submit"]{border:0;padding:0;display:block;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;width:431px;margin:8px auto;height:30px;line-height:33px;text-align:center;font-family:'Verdana','Arial',sans-serif;font-size:18px;font-weight:bold;color:#34393a;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;}.centro .container .coluna form input[type="submit"]:hover{cursor:pointer;color:#fff;}
