@import 'vars.less';

.centro{
	.centralizar;
	padding:5px 0 20px 0;
	h1{
		padding:0 10px;
		color:#fff;
		background-color:@vermelho_home_slides;
		height:40px;
		line-height:40px;
		margin-bottom:10px;
		.crimson_bold_italico(30px);
		.arredondada(6px);
	}
	.container{
		font-size:0;
		.coluna{
			.inline;
			&.esquerda{
				width:710px;
				margin-right:20px;
				.texto{
					background-color:#fff;
					.arredondada(10px);
					padding:30px;
					color:@quase_preto;
					margin-bottom:10px;
					h2{ .open(24px); line-height:160%; }
				}
				h3{
					margin-bottom:100px;
					width:840px;
					color:#FBB11C;
					.crimson_bold_italico(36px);
					margin-top:30px;
					line-height:120%;
				}
				.col{
					.inline;
					width:351px;
					margin-right:8px;					
				}
				.coluna-texto{
					.inline;
					padding:25px;
					margin-bottom:30px;
					width:301px;
					background-color:#fff;
					color:@quase_preto;
					.arredondada(10px);
					//&.margem{ margin-right:8px; }
					h4{
						.crimson_bold_italico(20px);
						color:@vermelho_rodape;
						margin-bottom:3px;
					}
					ul{
						list-style: none;
						li{
							margin:10px 0;
							line-height: 130%;
							padding-left:15px;
							background:url('../_imgs/layout/seta-menu-principal-rosa.png') 2px center no-repeat;
							.verdana(14px);
							color:@quase_preto;		
						}
					}
					p{
						.verdana(14px);
						color:@quase_preto;
						margin-bottom:20px;
						line-height:140%;
					}
					&.vermelho{
						margin-bottom:8px;
						background-color:@vermelho_home_slides;
						color:#fff;	
						h4, ul li{ color:#fff; }
						h4{ margin:0; line-height:100%; }
						ul li{ font-size: 15px; margin-bottom:0; }
					}
				}
			}
			&.direita{
				width:250px;
				margin-top:-70px;
				#img-delivery{
					margin-top:0;
					.arredondada(10px);
				}
				.caixa{
					padding:20px;
					width:210px;
					height:110px;
					.arredondada(10px);
					color:@quase_preto;
					margin-bottom:10px;
					&.escura{
						text-align:center;
						
						background-color:@novidades_amarelo;
						.crimson_bold_italico(30px);
						p{
							margin-top:10px;
							.verdana(12px);
						}
					}					
				}
			}
		}
	}
}