.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.centro{width:980px;padding:0 0;margin:0 auto;padding:5px 0 20px 0;}.centro h1{padding:0 10px;color:#fff;background-color:#c01944;height:40px;line-height:40px;margin-bottom:10px;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.centro .container{font-size:0;}.centro .container .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;}.centro .container .coluna.esquerda{width:710px;margin-right:20px;}.centro .container .coluna.esquerda .texto{background-color:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;padding:30px;color:#34393a;margin-bottom:10px;}.centro .container .coluna.esquerda .texto h2{font-family:'Open Sans Condensed','Arial',sans-serif;font-size:24px;font-weight:300;line-height:160%;}
.centro .container .coluna.esquerda h3{margin-bottom:100px;width:840px;color:#FBB11C;font-family:'PT Serif','Times New Roman',serif;font-size:36px;font-weight:600;font-style:italic;margin-top:30px;line-height:120%;}
.centro .container .coluna.esquerda .col{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:351px;margin-right:8px;}
.centro .container .coluna.esquerda .coluna-texto{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding:25px;margin-bottom:30px;width:301px;background-color:#fff;color:#34393a;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;}.centro .container .coluna.esquerda .coluna-texto h4{font-family:'PT Serif','Times New Roman',serif;font-size:20px;font-weight:600;font-style:italic;color:#bb214e;margin-bottom:3px;}
.centro .container .coluna.esquerda .coluna-texto ul{list-style:none;}.centro .container .coluna.esquerda .coluna-texto ul li{margin:10px 0;line-height:130%;padding-left:15px;background:url('../_imgs/layout/seta-menu-principal-rosa.png') 2px center no-repeat;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#34393a;}
.centro .container .coluna.esquerda .coluna-texto p{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#34393a;margin-bottom:20px;line-height:140%;}
.centro .container .coluna.esquerda .coluna-texto.vermelho{margin-bottom:8px;background-color:#c01944;color:#fff;}.centro .container .coluna.esquerda .coluna-texto.vermelho h4,.centro .container .coluna.esquerda .coluna-texto.vermelho ul li{color:#fff;}
.centro .container .coluna.esquerda .coluna-texto.vermelho h4{margin:0;line-height:100%;}
.centro .container .coluna.esquerda .coluna-texto.vermelho ul li{font-size:15px;margin-bottom:0;}
.centro .container .coluna.direita{width:250px;margin-top:-70px;}.centro .container .coluna.direita #img-delivery{margin-top:0;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
.centro .container .coluna.direita .caixa{padding:20px;width:210px;height:110px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;color:#34393a;margin-bottom:10px;}.centro .container .coluna.direita .caixa.escura{text-align:center;background-color:#ffb013;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;}.centro .container .coluna.direita .caixa.escura p{margin-top:10px;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;}
