.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.centro{width:980px;padding:0 0;margin:0 auto;padding:5px 0 20px 0;}.centro h1{padding:0 10px;color:#fff;background-color:#c01944;height:40px;line-height:40px;margin-bottom:10px;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.centro .container{font-size:0;}.centro .container .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;}.centro .container .coluna.esquerda{width:710px;margin-right:20px;}.centro .container .coluna.esquerda .texto{background-color:#fff;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;padding:35px;color:#34393a;margin-bottom:30px;}.centro .container .coluna.esquerda .texto h2{font-family:'Open Sans Condensed','Arial',sans-serif;font-size:24px;font-weight:300;margin-bottom:30px;line-height:170%;}
.centro .container .coluna.esquerda .texto p{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;margin:25px 0;line-height:180%;}
.centro .container .coluna.esquerda .selos-animais{list-style:none;}.centro .container .coluna.esquerda .selos-animais li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:70px;text-align:center;color:#fff;margin-right:10px;font-family:'PT Serif','Times New Roman',serif;font-size:14px;font-weight:600;font-style:italic;}.centro .container .coluna.esquerda .selos-animais li img{display:block;margin:0 auto 3px auto;}
.centro .container .coluna.esquerda h3{width:540px;color:#fff;font-family:'PT Serif','Times New Roman',serif;font-size:36px;font-weight:600;font-style:italic;margin-top:30px;line-height:120%;}
.centro .container .coluna.direita{width:250px;margin-top:-70px;}.centro .container .coluna.direita a{display:block;margin-bottom:10px;width:250px;height:250px;}.centro .container .coluna.direita a img{-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
