 @import 'vars.less';

.centro{
	.centralizar;
	padding:5px 0 20px 0;
	h1{
		padding:0 10px;
		color:#fff;
		background-color:@vermelho_home_slides;
		height:40px;
		line-height:40px;
		margin-bottom:10px;
		.crimson_bold_italico(30px);
		.arredondada(6px);
	}
	.container{
		font-size:0;
		.coluna{
			.inline;
			&.esquerda{
				width:710px;
				margin-right:20px;
				.texto{
					background-color:#fff;
					.arredondada(10px);
					padding:35px;
					color:@quase_preto;
					margin-bottom:30px;
					h2{ .open(24px); margin-bottom:30px; line-height:170%;}
					p{ .verdana(14px); margin:25px 0; line-height:180%;}
				}
				.selos-animais{
					list-style:none;
					li{
						.inline;
						width:70px;
						text-align:center;
						color:#fff;
						margin-right:10px;
						.crimson_bold_italico(14px);
						img{
							display:block;
							margin:0 auto 3px auto;
						}
					}
				}
				h3{
					width:540px;
					color:#fff;
					.crimson_bold_italico(36px);
					margin-top:30px;
					line-height:120%;
				}
			}
			&.direita{
				width:250px;
				margin-top:-70px;
				a{
					display:block;
					margin-bottom:10px;
					width:250px;
					height:250px;
					img{
						.arredondada(10px);
					}
				}
			}
		}
	}
}