.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.main{padding:10px 0;}.main .centro{width:980px;padding:0 0;margin:0 auto;}.main .centro h1{padding:0 10px;color:#fff;background-color:#c01944;height:40px;line-height:40px;margin-bottom:10px;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.main .centro h2{color:#ffcb64;font-family:'PT Serif','Times New Roman',serif;font-size:60px;font-weight:600;font-style:italic;}.main .centro h2 .pequeno{font-size:16px;}
.main .centro .botao-form{padding:10px 0;}.main .centro .botao-form a{display:block;margin:0 auto;border:5px #95BFED solid;background-color:#5D9DE4;height:40px;line-height:40px;width:600px;color:#fff;text-align:center;-webkit-border-radius:30px;-moz-border-radius:30px;-o-border-radius:30px;border-radius:30px;font-family:'PT Serif','Times New Roman',serif;font-size:20px;font-weight:600;font-style:italic;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main .centro .botao-form a:hover{color:#c01944;}
.main .centro #pet_form{padding:20px 0 40px 0;font-size:0;}.main .centro #pet_form .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:490px;}.main .centro #pet_form .coluna h3{color:#fff;margin-bottom:20px;font-family:'PT Serif','Times New Roman',serif;font-size:18px;font-weight:600;font-style:italic;}
.main .centro #pet_form .coluna label{color:#fff;display:block;position:relative;margin-bottom:20px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;}.main .centro #pet_form .coluna label.obs{font-family:'PT Serif','Times New Roman',serif;font-size:13px;font-weight:400;font-style:italic;}
.main .centro #pet_form .coluna label .alerta{width:420px;height:20px;line-height:20px;text-align:center;border:2px #fe5973 solid;background-color:#fe002a;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:bold;margin-left:10px;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main .centro #pet_form .coluna label .alerta.hid{font-size:0;height:0;}
.main .centro #pet_form .coluna label.offset{height:82px;width:265px;}.main .centro #pet_form .coluna label.offset:hover{cursor:pointer;}.main .centro #pet_form .coluna label.offset:hover .layer{color:#c01944;}
.main .centro #pet_form .coluna label input[type="text"],.main .centro #pet_form .coluna label input[type="email"]{-webkit-border-radius:30px;-moz-border-radius:30px;-o-border-radius:30px;border-radius:30px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;color:#fff;width:420px;padding:10px;height:20px;line-height:20px;margin-top:8px;}
.main .centro #pet_form .coluna label .layer{padding:10px 15px;height:20px;line-height:20px;display:block;width:220px;position:absolute;bottom:0;left:0;-webkit-border-radius:30px;-moz-border-radius:30px;-o-border-radius:30px;border-radius:30px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;color:#fff;border:5px #95bfed solid;background-color:#5d9de4;text-align:center;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main .centro #pet_form .coluna label input[type="file"]{position:absolute;bottom:0;opacity:0;display:hidden;}
.main .centro #pet_form .coluna.usuario input[type="text"],.main .centro #pet_form .coluna.usuario input[type="email"]{border:5px #ffcb64 solid;background-color:#ffb013;}
.main .centro #pet_form .coluna.pet input[type="text"],.main .centro #pet_form .coluna.pet input[type="email"]{border:5px #95bfed solid;background-color:#5d9de4;}
.main .centro #pet_form input[type="submit"]{white-space:normal !important;margin:70px auto 80px auto;display:block;text-align:center;width:200px;height:200px;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;-webkit-border-radius:200px;-moz-border-radius:200px;-o-border-radius:200px;border-radius:200px;line-height:130%;border:0;background-color:#ffcb64;color:#34393a;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main .centro #pet_form input[type="submit"]:hover{cursor:pointer;color:#c01944;}
.main .wide{padding:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.main .wide .portrait{width:300px;margin-bottom:30px;overflow:hidden;}.main .wide .portrait:hover .legenda{opacity:1 !important;height:auto;}
.main .wide .portrait .frente{display:block;width:300px;overflow:hidden;}.main .wide .portrait .frente img{max-width:300px;display:block;}
.main .wide .portrait .frente .nome{padding:6px 10px;color:#fff;line-height:120%;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;-webkit-border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-o-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;background-color:#FE002A;}
.main .wide .portrait .frente .legenda{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;text-align:center;opacity:0;height:0;position:absolute;top:0;left:0;z-index:9999;background:url('rgba.php?r=254&g=0&b=42&a=70') repeat;background:rgba(254, 0, 42, 0.7);color:#fff;width:300px;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;}.main .wide .portrait .frente .legenda::-moz-selection,.main .wide .portrait .frente .legenda::selection{background-color:#e08686;}
.main #pegar-mais-imagens{height:24px;text-align:center;margin-bottom:40px;}.main #pegar-mais-imagens a{height:24px;line-height:24px;text-align:center;background-color:#ffb013;color:#fff;width:134px;display:block;margin:0 auto;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main #pegar-mais-imagens a:active,.main #pegar-mais-imagens a:visited{color:#fff;}
.main #pegar-mais-imagens a:hover{color:#34393a;}
#loader{height:35px;text-align:center;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#loader.hid{display:none;}
#loader .windows8{position:relative;width:35px;height:35px;margin:0 auto;}
#loader .windows8 .wBall{position:absolute;width:33px;height:33px;opacity:0;-moz-transform:rotate(225deg);-moz-animation:orbit 2.75s infinite;-webkit-transform:rotate(225deg);-webkit-animation:orbit 2.75s infinite;-ms-transform:rotate(225deg);-ms-animation:orbit 2.75s infinite;-o-transform:rotate(225deg);-o-animation:orbit 2.75s infinite;transform:rotate(225deg);animation:orbit 2.75s infinite;}
#loader .windows8 .wBall .wInnerBall{position:absolute;width:4px;height:4px;background:#C01943;left:0px;top:0px;-moz-border-radius:4px;-webkit-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px;border-radius:4px;}
#loader .windows8 #wBall_1{-moz-animation-delay:0.6s;-webkit-animation-delay:0.6s;-ms-animation-delay:0.6s;-o-animation-delay:0.6s;animation-delay:0.6s;}
#loader .windows8 #wBall_2{-moz-animation-delay:0.12s;-webkit-animation-delay:0.12s;-ms-animation-delay:0.12s;-o-animation-delay:0.12s;animation-delay:0.12s;}
#loader .windows8 #wBall_3{-moz-animation-delay:0.24s;-webkit-animation-delay:0.24s;-ms-animation-delay:0.24s;-o-animation-delay:0.24s;animation-delay:0.24s;}
#loader .windows8 #wBall_4{-moz-animation-delay:0.36s;-webkit-animation-delay:0.36s;-ms-animation-delay:0.36s;-o-animation-delay:0.36s;animation-delay:0.36s;}
#loader .windows8 #wBall_5{-moz-animation-delay:0.48s;-webkit-animation-delay:0.48s;-ms-animation-delay:0.48s;-o-animation-delay:0.48s;animation-delay:0.48s;}
@-moz-keyframes orbit{0%{opacity:1;z-index:99;-moz-transform:rotate(180deg);-moz-animation-timing-function:ease-out;} 7%{opacity:1;-moz-transform:rotate(300deg);-moz-animation-timing-function:linear;-moz-origin:0%;} 30%{opacity:1;-moz-transform:rotate(410deg);-moz-animation-timing-function:ease-in-out;-moz-origin:7%;} 39%{opacity:1;-moz-transform:rotate(645deg);-moz-animation-timing-function:linear;-moz-origin:30%;} 70%{opacity:1;-moz-transform:rotate(770deg);-moz-animation-timing-function:ease-out;-moz-origin:39%;} 75%{opacity:1;-moz-transform:rotate(900deg);-moz-animation-timing-function:ease-out;-moz-origin:70%;} 76%{opacity:0;-moz-transform:rotate(900deg);} 100%{opacity:0;-moz-transform:rotate(900deg);}}@-webkit-keyframes orbit{0%{opacity:1;z-index:99;-webkit-transform:rotate(180deg);-webkit-animation-timing-function:ease-out;} 7%{opacity:1;-webkit-transform:rotate(300deg);-webkit-animation-timing-function:linear;-webkit-origin:0%;} 30%{opacity:1;-webkit-transform:rotate(410deg);-webkit-animation-timing-function:ease-in-out;-webkit-origin:7%;} 39%{opacity:1;-webkit-transform:rotate(645deg);-webkit-animation-timing-function:linear;-webkit-origin:30%;} 70%{opacity:1;-webkit-transform:rotate(770deg);-webkit-animation-timing-function:ease-out;-webkit-origin:39%;} 75%{opacity:1;-webkit-transform:rotate(900deg);-webkit-animation-timing-function:ease-out;-webkit-origin:70%;} 76%{opacity:0;-webkit-transform:rotate(900deg);} 100%{opacity:0;-webkit-transform:rotate(900deg);}}@-ms-keyframes orbit{0%{opacity:1;z-index:99;-ms-transform:rotate(180deg);-ms-animation-timing-function:ease-out;} 7%{opacity:1;-ms-transform:rotate(300deg);-ms-animation-timing-function:linear;-ms-origin:0%;} 30%{opacity:1;-ms-transform:rotate(410deg);-ms-animation-timing-function:ease-in-out;-ms-origin:7%;} 39%{opacity:1;-ms-transform:rotate(645deg);-ms-animation-timing-function:linear;-ms-origin:30%;} 70%{opacity:1;-ms-transform:rotate(770deg);-ms-animation-timing-function:ease-out;-ms-origin:39%;} 75%{opacity:1;-ms-transform:rotate(900deg);-ms-animation-timing-function:ease-out;-ms-origin:70%;} 76%{opacity:0;-ms-transform:rotate(900deg);} 100%{opacity:0;-ms-transform:rotate(900deg);}}@-o-keyframes orbit{0%{opacity:1;z-index:99;-o-transform:rotate(180deg);-o-animation-timing-function:ease-out;} 7%{opacity:1;-o-transform:rotate(300deg);-o-animation-timing-function:linear;-o-origin:0%;} 30%{opacity:1;-o-transform:rotate(410deg);-o-animation-timing-function:ease-in-out;-o-origin:7%;} 39%{opacity:1;-o-transform:rotate(645deg);-o-animation-timing-function:linear;-o-origin:30%;} 70%{opacity:1;-o-transform:rotate(770deg);-o-animation-timing-function:ease-out;-o-origin:39%;} 75%{opacity:1;-o-transform:rotate(900deg);-o-animation-timing-function:ease-out;-o-origin:70%;} 76%{opacity:0;-o-transform:rotate(900deg);} 100%{opacity:0;-o-transform:rotate(900deg);}}@keyframes orbit{0%{opacity:1;z-index:99;transform:rotate(180deg);animation-timing-function:ease-out;} 7%{opacity:1;transform:rotate(300deg);animation-timing-function:linear;origin:0%;} 30%{opacity:1;transform:rotate(410deg);animation-timing-function:ease-in-out;origin:7%;} 39%{opacity:1;transform:rotate(645deg);animation-timing-function:linear;origin:30%;} 70%{opacity:1;transform:rotate(770deg);animation-timing-function:ease-out;origin:39%;} 75%{opacity:1;transform:rotate(900deg);animation-timing-function:ease-out;origin:70%;} 76%{opacity:0;transform:rotate(900deg);} 100%{opacity:0;transform:rotate(900deg);}}
.isotope,.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s;}
.isotope{-webkit-transition-property:height, width;-moz-transition-property:height, width;-ms-transition-property:height, width;-o-transition-property:height, width;transition-property:height, width;}
.isotope .isotope-item{-webkit-transition-property:opacity;-moz-transition-property:opacity;-ms-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity;}
