@import 'vars.less';

.main{
	padding:10px 0;
	.centro{
		.centralizar;
		h1{
			padding:0 10px;
			color:#fff;
			background-color:@vermelho_home_slides;
			height:40px;
			line-height:40px;
			margin-bottom:10px;
			.crimson_bold_italico(30px);
			.arredondada(6px);		
		}
		h2{
			color:@amarelo;
			.crimson_bold_italico(60px);
			.pequeno{ font-size:16px; }
		}
		.botao-form{
			padding:10px 0;
			a{
				display:block;
				margin:0 auto;
				border:5px #95BFED solid;
				background-color:#5D9DE4;
				height:40px;
				line-height:40px;
				width:600px;
				color:#fff;
				text-align:center;
				.arredondada(30px);
				.crimson_bold_italico(20px);
				.transition;
				&:active, &:visited{}
				&:hover{
					color:@vermelho_home_slides;
				}
			}
		}
		#pet_form{
			padding:20px 0 40px 0;
			font-size:0;
			.coluna{
				.inline;
				width:490px;
				h3{
					color:#fff;
					margin-bottom:20px;
					.crimson_bold_italico(18px);
				}
				label{
					color:#fff;
					display:block;
					position:relative;
					margin-bottom:20px;
					.crimson_bold_italico(16px);
					&.obs{
						.crimson_italico(13px);
					}
					.alerta{
						width:420px;
						height:20px;
						line-height:20px;
						text-align:center;
						border:2px @novidades_vermelho_claro solid;
						background-color:@novidades_vermelho;
						.verdana(10px, bold);
						margin-left:10px;
						.arredondada(8px);
						color:#fff;
						.transition;
						&.hid{
							font-size:0;
							height:0;
						}
					}
					&.offset{
						height:82px;
						width:265px;
						&:hover{ 
							cursor:pointer;
							.layer{
								color:@vermelho_home_slides;
							}
						}
					}
					input[type="text"],
					input[type="email"]{
						.arredondada(30px);
						.crimson_bold_italico(16px);
						color:#fff;
						width:420px;
						padding:10px;
						height:20px;
						line-height:20px;
						margin-top:8px;
					}
					.layer{
						padding:10px 15px;
						height:20px;
						line-height:20px;
						display:block;
						width:220px;
						position:absolute;
						bottom:0;
						left:0;
						.arredondada(30px);
						.crimson_bold_italico(16px);
						color:#fff;
						border:5px @novidades_azul_claro solid;
						background-color: @novidades_azul;
						text-align:center;
						overflow:hidden;
						white-space:nowrap;
						text-overflow: ellipsis;
						.transition;
					}
					input[type="file"]{
						position:absolute;
						bottom:0;
						opacity:0;
						display:hidden;
					}
				}
				&.usuario{
					input[type="text"],
					input[type="email"]{
						border:5px @novidades_amarelo_claro solid;
						background-color: @novidades_amarelo;
					}
				}
				&.pet{
					input[type="text"],
					input[type="email"]{
						border:5px @novidades_azul_claro solid;
						background-color: @novidades_azul;
					}
				}
			}
			input[type="submit"]{
				white-space:normal !important;
				margin:70px auto 80px auto;
				display:block;
				text-align:center;
				width:200px;
				height:200px;
				.crimson_bold_italico(30px);
				.arredondada(200px);
				line-height: 130%;
				border:0;
				background-color:@novidades_amarelo_claro;
				color:@quase_preto;
				.transition;
				&:hover{
					cursor:pointer;
					color:@vermelho_home_slides;
				}
			}
		}
	}
	.wide{
		padding:20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		.portrait{
			width:300px;
			margin-bottom:30px;
			overflow:hidden;
			&:hover{ 
				.legenda{
					opacity:1 !important;
					height:auto;
				}
			}
			.frente{
				display:block;
				width:300px;
				overflow:hidden;
				img{
					max-width:300px;
					display:block;
				}
				.nome{
					padding:6px 10px;
					color:#fff;
					line-height:120%;
					.verdana(14px);
					.arredondada(0 0 10px 10px);
					background-color:#FE002A;
				}
				.legenda{
					.transition;
					text-align:center;
					opacity:0;
					height:0;
					position:absolute;
					top:0;
					left:0;
					z-index:9999;
					background: url('rgba.php?r=254&g=0&b=42&a=70') repeat;
					background: rgba(254, 0, 42, .7);
					color:#fff;
					width:300px;
					.verdana(14px);
					&::-moz-selection, &::selection {
						background-color:#e08686;
					}
				}
			}
		}
	}
	#pegar-mais-imagens{
		height:24px;
		text-align:center;
		margin-bottom:40px;
		a{
			height:24px;
			line-height:24px;
			text-align:center;
			background-color:@amarelo_secao;
			color:#fff;
			width:134px;
			display:block;
			margin:0 auto;
			.crimson_bold_italico(16px);
			.arredondada(6px);
			.transition;
			&:active, &:visited{ color:#fff; }
			&:hover{
				color:@quase_preto;
			}
		}
	}
}


#loader{
	height:35px;
	text-align:center;
	.transition;
	&.hid{ display:none; }
	.windows8 {
		position: relative;
		width: 35px;
		height:35px;
		margin:0 auto;
	}
	.windows8 .wBall {
		position: absolute;
		width: 33px;
		height: 33px;
		opacity: 0;
		-moz-transform: rotate(225deg);
		-moz-animation: orbit 2.75s infinite;
		-webkit-transform: rotate(225deg);
		-webkit-animation: orbit 2.75s infinite;
		-ms-transform: rotate(225deg);
		-ms-animation: orbit 2.75s infinite;
		-o-transform: rotate(225deg);
		-o-animation: orbit 2.75s infinite;
		transform: rotate(225deg);
		animation: orbit 2.75s infinite;
	}
	.windows8 .wBall .wInnerBall{
		position: absolute;
		width: 4px;
		height: 4px;
		background: #C01943;
		left:0px;
		top:0px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}
	.windows8 #wBall_1 {
		-moz-animation-delay: 0.6s;
		-webkit-animation-delay: 0.6s;
		-ms-animation-delay: 0.6s;
		-o-animation-delay: 0.6s;
		animation-delay: 0.6s;
	}
	.windows8 #wBall_2 {
		-moz-animation-delay: 0.12s;
		-webkit-animation-delay: 0.12s;
		-ms-animation-delay: 0.12s;
		-o-animation-delay: 0.12s;
		animation-delay: 0.12s;
	}
	.windows8 #wBall_3 {
		-moz-animation-delay: 0.24s;
		-webkit-animation-delay: 0.24s;
		-ms-animation-delay: 0.24s;
		-o-animation-delay: 0.24s;
		animation-delay: 0.24s;
	}
	.windows8 #wBall_4 {
		-moz-animation-delay: 0.36s;
		-webkit-animation-delay: 0.36s;
		-ms-animation-delay: 0.36s;
		-o-animation-delay: 0.36s;
		animation-delay: 0.36s;
	}
	.windows8 #wBall_5 {
		-moz-animation-delay: 0.48s;
		-webkit-animation-delay: 0.48s;
		-ms-animation-delay: 0.48s;
		-o-animation-delay: 0.48s;
		animation-delay: 0.48s;
	}
	@-moz-keyframes orbit {
		0% {
			opacity: 1;
			z-index:99;
			-moz-transform: rotate(180deg);
			-moz-animation-timing-function: ease-out;
		}

		7% {
			opacity: 1;
			-moz-transform: rotate(300deg);
			-moz-animation-timing-function: linear;
			-moz-origin:0%;
		}

		30% {
			opacity: 1;
			-moz-transform:rotate(410deg);
			-moz-animation-timing-function: ease-in-out;
			-moz-origin:7%;
		}

		39% {
			opacity: 1;
			-moz-transform: rotate(645deg);
			-moz-animation-timing-function: linear;
			-moz-origin:30%;
		}

		70% {
			opacity: 1;
			-moz-transform: rotate(770deg);
			-moz-animation-timing-function: ease-out;
			-moz-origin:39%;
		}

		75% {
			opacity: 1;
			-moz-transform: rotate(900deg);
			-moz-animation-timing-function: ease-out;
			-moz-origin:70%;
		}

		76% {
			opacity: 0;
			-moz-transform:rotate(900deg);
		}

		100% {
			opacity: 0;
			-moz-transform: rotate(900deg);
		}

	}

	@-webkit-keyframes orbit {
		0% {
			opacity: 1;
			z-index:99;
			-webkit-transform: rotate(180deg);
			-webkit-animation-timing-function: ease-out;
		}

		7% {
			opacity: 1;
			-webkit-transform: rotate(300deg);
			-webkit-animation-timing-function: linear;
			-webkit-origin:0%;
		}

		30% {
			opacity: 1;
			-webkit-transform:rotate(410deg);
			-webkit-animation-timing-function: ease-in-out;
			-webkit-origin:7%;
		}

		39% {
			opacity: 1;
			-webkit-transform: rotate(645deg);
			-webkit-animation-timing-function: linear;
			-webkit-origin:30%;
		}

		70% {
			opacity: 1;
			-webkit-transform: rotate(770deg);
			-webkit-animation-timing-function: ease-out;
			-webkit-origin:39%;
		}

		75% {
			opacity: 1;
			-webkit-transform: rotate(900deg);
			-webkit-animation-timing-function: ease-out;
			-webkit-origin:70%;
		}

		76% {
			opacity: 0;
			-webkit-transform:rotate(900deg);
		}

		100% {
			opacity: 0;
			-webkit-transform: rotate(900deg);
		}

	}

	@-ms-keyframes orbit {
		0% {
			opacity: 1;
			z-index:99;
			-ms-transform: rotate(180deg);
			-ms-animation-timing-function: ease-out;
		}

		7% {
			opacity: 1;
			-ms-transform: rotate(300deg);
			-ms-animation-timing-function: linear;
			-ms-origin:0%;
		}

		30% {
			opacity: 1;
			-ms-transform:rotate(410deg);
			-ms-animation-timing-function: ease-in-out;
			-ms-origin:7%;
		}

		39% {
			opacity: 1;
			-ms-transform: rotate(645deg);
			-ms-animation-timing-function: linear;
			-ms-origin:30%;
		}

		70% {
			opacity: 1;
			-ms-transform: rotate(770deg);
			-ms-animation-timing-function: ease-out;
			-ms-origin:39%;
		}

		75% {
			opacity: 1;
			-ms-transform: rotate(900deg);
			-ms-animation-timing-function: ease-out;
			-ms-origin:70%;
		}

		76% {
			opacity: 0;
			-ms-transform:rotate(900deg);
		}

		100% {
			opacity: 0;
			-ms-transform: rotate(900deg);
		}

	}

	@-o-keyframes orbit {
		0% {
			opacity: 1;
			z-index:99;
			-o-transform: rotate(180deg);
			-o-animation-timing-function: ease-out;
		}

		7% {
			opacity: 1;
			-o-transform: rotate(300deg);
			-o-animation-timing-function: linear;
			-o-origin:0%;
		}

		30% {
			opacity: 1;
			-o-transform:rotate(410deg);
			-o-animation-timing-function: ease-in-out;
			-o-origin:7%;
		}

		39% {
			opacity: 1;
			-o-transform: rotate(645deg);
			-o-animation-timing-function: linear;
			-o-origin:30%;
		}

		70% {
			opacity: 1;
			-o-transform: rotate(770deg);
			-o-animation-timing-function: ease-out;
			-o-origin:39%;
		}

		75% {
			opacity: 1;
			-o-transform: rotate(900deg);
			-o-animation-timing-function: ease-out;
			-o-origin:70%;
		}

		76% {
			opacity: 0;
			-o-transform:rotate(900deg);
		}

		100% {
			opacity: 0;
			-o-transform: rotate(900deg);
		}

	}

	@keyframes orbit {
		0% {
			opacity: 1;
			z-index:99;
			transform: rotate(180deg);
			animation-timing-function: ease-out;
		}

		7% {
			opacity: 1;
			transform: rotate(300deg);
			animation-timing-function: linear;
			origin:0%;
		}

		30% {
			opacity: 1;
			transform:rotate(410deg);
			animation-timing-function: ease-in-out;
			origin:7%;
		}

		39% {
			opacity: 1;
			transform: rotate(645deg);
			animation-timing-function: linear;
			origin:30%;
		}

		70% {
			opacity: 1;
			transform: rotate(770deg);
			animation-timing-function: ease-out;
			origin:39%;
		}

		75% {
			opacity: 1;
			transform: rotate(900deg);
			animation-timing-function: ease-out;
			origin:70%;
		}

		76% {
			opacity: 0;
			transform:rotate(900deg);
		}

		100% {
			opacity: 0;
			transform: rotate(900deg);
		}

	}
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  // -webkit-transition-property: -webkit-transform, opacity;
  //    -moz-transition-property:    -moz-transform, opacity;
  //     -ms-transition-property:     -ms-transform, opacity;
  //      -o-transition-property:      -o-transform, opacity;
  //         transition-property:         transform, opacity;
  -webkit-transition-property:opacity;
     -moz-transition-property:opacity;
      -ms-transition-property:opacity;
       -o-transition-property:opacity;
          transition-property:opacity;  
}