@import 'vars.less';

.main{
	#faixa-home{
		margin:50px 0 35px 0;
		height:285px;
		.bg-cinza{
			background-color:#CCC;
			height:208px;
			.centro{
				.centralizar;
				padding-top:27px;
				font-size:0;
				.coluna{
					.inline;
					&.esquerda{
						width:395px;
						h2{
							.open(30px);
							line-height:100%;
							color:@vermelho_rodape;
						}
						p{
							margin:13px 0;
							.crimson_bold_italico(16px);
							color:@vermelho_rodape;
							line-height:140%;
						}
						ul{
							height:95px;
							li{
								width:71px;
								margin-right:5px;
								&.ultimo{ margin-right:0; }
								.inline;
								text-align:center;
								color:#fff;
								.crimson_bold_italico(14px);
								a{
									.transition;
									padding-top:70px;
									display:block;
									width:71px;
									color:#fff;
									&:hover{ color:@quase_preto; }									
								}
								a.link-caes{
									background:url('../_imgs/layout/menu-caes-branco.png') center top no-repeat;
									&:hover{
										background:url('../_imgs/layout/menu-caes-chumbo.png') center top no-repeat;
									}
								}
								a.link-gatos{
									background:url('../_imgs/layout/menu-gatos-branco.png') center top no-repeat;
									&:hover{
										background:url('../_imgs/layout/menu-gatos-chumbo.png') center top no-repeat;
									}
								}
								a.link-aves{
									background:url('../_imgs/layout/menu-aves-branco.png') center top no-repeat;
									&:hover{
										background:url('../_imgs/layout/menu-aves-chumbo.png') center top no-repeat;
									}
								}
								a.link-peixes{
									background:url('../_imgs/layout/menu-peixes-branco.png') center top no-repeat;
									&:hover{
										background:url('../_imgs/layout/menu-peixes-chumbo.png') center top no-repeat;
									}
								}
								a.link-outros{
									background:url('../_imgs/layout/menu-outros-branco.png') center top no-repeat;
									&:hover{
										background:url('../_imgs/layout/menu-outros-chumbo.png') center top no-repeat;
									}
								}
							}
						}
					}
					&.direita{
						width:@largura - 395px;
						h2{
							.open(30px);
							line-height:100%;
							a{
								color:#3E3F41;
								.transition;
								&:active, &:visited{ color:#3E3F41; }
								&:hover{
									color:@vermelho_rodape;
								}
							}
						}
						h3{
							margin:17px 0;
							.crimson_bold_italico(16px);
							color:#3E3F41;
							line-height:140%;
						}
						ul{
							width:@largura - 395px;
							li{
								.inline;
								width:180px;
								height:180px;
								&.primeiro{ margin-left:0; }
								margin-left:20px;
								a{
									display:block;	
									img{
										width:179px;
										height:179px;
										.arredondada(9px);
										border:1px transparent solid;
										.transition;
									}
									&:hover img{ border:1px @vermelho_rodape solid; }
								}
							}
						}
					}
				}
			}
		}
	}
	.linha-chamada{
		width:100%;
		padding:10px 0;
		ul{
			padding:0 20px;
			height:180px;
			font-size:0;
			overflow:hidden;
			li{
				.inline;
				width:180px;
				height:180px;
				margin-right:20px;
				&.primeiro{
					.circulo{
						width:170px;
						height:135px;
						.crimson_bold_italico(16px);
						color:#fff;
						line-height:125%;
						// -moz-transform: rotate(-15deg);
						// -webkit-transform: rotate(-15deg);
						// -o-transform: rotate(-15deg);
						// -ms-transform: rotate(-15deg);
						// transform: rotate(-15deg);
						text-align:center;
						padding-top:35px;
						.arredondada(180px);
						&.boutique{
							border:5px #FFCB64 solid;
							background-color:#FFB013;
						}
						&.alimentacao{
							border:5px #B3DB68 solid;
							background-color:#8AC918;
						}
						&.higiene{
							border:5px #95BFED solid;
							background-color:#5D9DE4;
						}
						&.farmacia{
							border:5px #FE5973 solid;
							background-color:#FE002A;
						}
					}
				}
				a{
					display:block;
					position:relative;
					padding:8px;
					background-color:#fff;
					width:164px;
					height:164px;
					.arredondada(10px);
					.secao{
						text-align:center;
						height:17px;
						line-height:17px;
						overflow:hidden;
						white-space:normal;
						.crimson_bold_italico(12px);
						&.boutique{ border-bottom:1px #FFB013 solid; color:#FFB013; }
						&.alimentacao{ border-bottom:1px #8AC918 solid; color:#8AC918; }
						&.higiene{ border-bottom:1px #5D9DE4 solid; color:#5D9DE4; }
						&.farmacia{ border-bottom:1px #FE002A solid; color:#FE002A; }
					}
					img{
						display:block;
						margin:2px auto;
						width:120px;
						height:120px;
					}
					.titulo{
						.verdana(12px);
						color:@quase_preto;
						text-align:center;
						white-space:normal;
						line-height:120%;
						height:30px;
						overflow:hidden;
					}
					.overlay{
						.transition;
						position:absolute;
						top:0;
						left:0;
						width:180px;
						height:180px;
						.arredondada(10px);
						opacity:0;
						z-index:999;
						&.boutique{ background-color:@amarelo; }
						&.alimentacao{ background-color:@verde; }
						&.higiene{ background-color:@azul; }
						&.farmacia{ background-color:@vermelho; }
						.verdana(14px, bold);
						color:@quase_preto;
						line-height:180px;
						text-align:center;
					}
					.overlay-texto{
						.transition;
						position:absolute;
						top:0;
						left:0;
						width:180px;
						height:180px;
						.arredondada(10px);
						opacity:0;
						z-index:99999;
						.verdana(14px, bold);
						color:@quase_preto;
						line-height:180px;
						text-align:center;	
					}
					&:hover{
						.overlay{ opacity:0.8; }
						.overlay-texto{ opacity:1; }
					}
				}
			}
		}
	}
}