.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.main #faixa-home{margin:50px 0 35px 0;height:285px;}.main #faixa-home .bg-cinza{background-color:#CCC;height:208px;}.main #faixa-home .bg-cinza .centro{width:980px;padding:0 0;margin:0 auto;padding-top:27px;font-size:0;}.main #faixa-home .bg-cinza .centro .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;}.main #faixa-home .bg-cinza .centro .coluna.esquerda{width:395px;}.main #faixa-home .bg-cinza .centro .coluna.esquerda h2{font-family:'Open Sans Condensed','Arial',sans-serif;font-size:30px;font-weight:300;line-height:100%;color:#bb214e;}
.main #faixa-home .bg-cinza .centro .coluna.esquerda p{margin:13px 0;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;color:#bb214e;line-height:140%;}
.main #faixa-home .bg-cinza .centro .coluna.esquerda ul{height:95px;}.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li{width:71px;margin-right:5px;display:inline-block;*display:inline;zoom:1;vertical-align:top;text-align:center;color:#fff;font-family:'PT Serif','Times New Roman',serif;font-size:14px;font-weight:600;font-style:italic;}.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li.ultimo{margin-right:0;}
.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;padding-top:70px;display:block;width:71px;color:#fff;}.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a:hover{color:#34393a;}
.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-caes{background:url('../_imgs/layout/menu-caes-branco.png') center top no-repeat;}.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-caes:hover{background:url('../_imgs/layout/menu-caes-chumbo.png') center top no-repeat;}
.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-gatos{background:url('../_imgs/layout/menu-gatos-branco.png') center top no-repeat;}.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-gatos:hover{background:url('../_imgs/layout/menu-gatos-chumbo.png') center top no-repeat;}
.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-aves{background:url('../_imgs/layout/menu-aves-branco.png') center top no-repeat;}.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-aves:hover{background:url('../_imgs/layout/menu-aves-chumbo.png') center top no-repeat;}
.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-peixes{background:url('../_imgs/layout/menu-peixes-branco.png') center top no-repeat;}.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-peixes:hover{background:url('../_imgs/layout/menu-peixes-chumbo.png') center top no-repeat;}
.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-outros{background:url('../_imgs/layout/menu-outros-branco.png') center top no-repeat;}.main #faixa-home .bg-cinza .centro .coluna.esquerda ul li a.link-outros:hover{background:url('../_imgs/layout/menu-outros-chumbo.png') center top no-repeat;}
.main #faixa-home .bg-cinza .centro .coluna.direita{width:585px;}.main #faixa-home .bg-cinza .centro .coluna.direita h2{font-family:'Open Sans Condensed','Arial',sans-serif;font-size:30px;font-weight:300;line-height:100%;}.main #faixa-home .bg-cinza .centro .coluna.direita h2 a{color:#3E3F41;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main #faixa-home .bg-cinza .centro .coluna.direita h2 a:active,.main #faixa-home .bg-cinza .centro .coluna.direita h2 a:visited{color:#3E3F41;}
.main #faixa-home .bg-cinza .centro .coluna.direita h2 a:hover{color:#bb214e;}
.main #faixa-home .bg-cinza .centro .coluna.direita h3{margin:17px 0;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;color:#3E3F41;line-height:140%;}
.main #faixa-home .bg-cinza .centro .coluna.direita ul{width:585px;}.main #faixa-home .bg-cinza .centro .coluna.direita ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:180px;height:180px;margin-left:20px;}.main #faixa-home .bg-cinza .centro .coluna.direita ul li.primeiro{margin-left:0;}
.main #faixa-home .bg-cinza .centro .coluna.direita ul li a{display:block;}.main #faixa-home .bg-cinza .centro .coluna.direita ul li a img{width:179px;height:179px;-webkit-border-radius:9px;-moz-border-radius:9px;-o-border-radius:9px;border-radius:9px;border:1px transparent solid;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main #faixa-home .bg-cinza .centro .coluna.direita ul li a:hover img{border:1px #bb214e solid;}
.main .linha-chamada{width:100%;padding:10px 0;}.main .linha-chamada ul{padding:0 20px;height:180px;font-size:0;overflow:hidden;}.main .linha-chamada ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:180px;height:180px;margin-right:20px;}.main .linha-chamada ul li.primeiro .circulo{width:170px;height:135px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;color:#fff;line-height:125%;text-align:center;padding-top:35px;-webkit-border-radius:180px;-moz-border-radius:180px;-o-border-radius:180px;border-radius:180px;}.main .linha-chamada ul li.primeiro .circulo.boutique{border:5px #FFCB64 solid;background-color:#FFB013;}
.main .linha-chamada ul li.primeiro .circulo.alimentacao{border:5px #B3DB68 solid;background-color:#8AC918;}
.main .linha-chamada ul li.primeiro .circulo.higiene{border:5px #95BFED solid;background-color:#5D9DE4;}
.main .linha-chamada ul li.primeiro .circulo.farmacia{border:5px #FE5973 solid;background-color:#FE002A;}
.main .linha-chamada ul li a{display:block;position:relative;padding:8px;background-color:#fff;width:164px;height:164px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;}.main .linha-chamada ul li a .secao{text-align:center;height:17px;line-height:17px;overflow:hidden;white-space:normal;font-family:'PT Serif','Times New Roman',serif;font-size:12px;font-weight:600;font-style:italic;}.main .linha-chamada ul li a .secao.boutique{border-bottom:1px #FFB013 solid;color:#FFB013;}
.main .linha-chamada ul li a .secao.alimentacao{border-bottom:1px #8AC918 solid;color:#8AC918;}
.main .linha-chamada ul li a .secao.higiene{border-bottom:1px #5D9DE4 solid;color:#5D9DE4;}
.main .linha-chamada ul li a .secao.farmacia{border-bottom:1px #FE002A solid;color:#FE002A;}
.main .linha-chamada ul li a img{display:block;margin:2px auto;width:120px;height:120px;}
.main .linha-chamada ul li a .titulo{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#34393a;text-align:center;white-space:normal;line-height:120%;height:30px;overflow:hidden;}
.main .linha-chamada ul li a .overlay{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;position:absolute;top:0;left:0;width:180px;height:180px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;opacity:0;z-index:999;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#34393a;line-height:180px;text-align:center;}.main .linha-chamada ul li a .overlay.boutique{background-color:#ffcb64;}
.main .linha-chamada ul li a .overlay.alimentacao{background-color:#b3db68;}
.main .linha-chamada ul li a .overlay.higiene{background-color:#5d9de4;}
.main .linha-chamada ul li a .overlay.farmacia{background-color:#ff1f44;}
.main .linha-chamada ul li a .overlay-texto{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;position:absolute;top:0;left:0;width:180px;height:180px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;opacity:0;z-index:99999;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#34393a;line-height:180px;text-align:center;}
.main .linha-chamada ul li a:hover .overlay{opacity:0.8;}
.main .linha-chamada ul li a:hover .overlay-texto{opacity:1;}
