.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.main{padding:10px 0;}.main .centro{width:980px;padding:0 0;margin:0 auto;}.main .centro h1{padding:0 10px;color:#fff;background-color:#c01944;height:40px;line-height:40px;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.main .centro h2{line-height:100%;margin:30px 0;color:#fff;font-family:'PT Serif','Times New Roman',serif;font-size:20px;font-weight:600;font-style:italic;}
.main .showcase-marcas{min-height:600px;padding:0 20px;}.main .showcase-marcas .container-marca{width:200px;height:200px;display:inline-block;*display:inline;zoom:1;vertical-align:top;margin:10px;position:relative;-webkit-perspective:500px;-moz-perspective:500px;-ms-perspective:500px;-o-perspective:500px;perspective:500px;}.main .showcase-marcas .container-marca .box{width:100%;height:100%;position:absolute;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;-o-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition:-webkit-transform 1s;-moz-transition:-moz-transform 1s;-ms-transition:-ms-transform 1s;-o-transition:-o-transform 1s;transition:transform 1s;}.main .showcase-marcas .container-marca .box .lado{-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;text-align:center;display:block;position:absolute;width:100%;height:100%;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;}.main .showcase-marcas .container-marca .box .lado.frente{background:#fff;}.main .showcase-marcas .container-marca .box .lado.frente img{margin:25px;}
.main .showcase-marcas .container-marca .box .lado.tras{background:#bb214e;color:#fff;-webkit-transform:rotatey(180deg);-moz-transform:rotatey(180deg);-ms-transform:rotatey(180deg);-o-transform:rotatey(180deg);transform:rotatey(180deg);}.main .showcase-marcas .container-marca .box .lado.tras .titulo{font-family:'Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;line-height:100%;margin-bottom:5px;margin-top:60px;}
.main .showcase-marcas .container-marca .box .lado.tras .tagline{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;}
.main .showcase-marcas .container-marca .box .lado.tras .categoria{width:100%;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;position:absolute;text-align:center;bottom:60px;}
.main .showcase-marcas .container-marca .box:hover,.main .showcase-marcas .container-marca .box.flipped{-webkit-transform:rotatey(180deg);-moz-transform:rotatey(180deg);-ms-transform:rotatey(180deg);-o-transform:rotatey(180deg);transform:rotatey(180deg);}
