@import 'vars.less';

.main{
	padding:10px 0;
	.centro{
		.centralizar;
		h1{
			padding:0 10px;
			color:#fff;
			background-color:@vermelho_home_slides;
			height:40px;
			line-height:40px;
			.crimson_bold_italico(30px);
			.arredondada(6px);		
		}
		h2{
			line-height:100%;
			margin:30px 0;
			color:#fff;
			.crimson_bold_italico(20px);
		}
	}
	.showcase-marcas{
		min-height:600px;
		padding:0 20px;
		.container-marca{
			width:200px;
			height:200px;
			.inline;
			margin:10px;
			position:relative;
			-webkit-perspective:500px;
			-moz-perspective:500px;
			-ms-perspective:500px;
			-o-perspective:500px;
			perspective:500px;
			.box{
				width:100%;
				height:100%;
				position:absolute;
				-webkit-transform-style: preserve-3d;
				-moz-transform-style: preserve-3d;
				-ms-transform-style: preserve-3d;
				-o-transform-style: preserve-3d;
				transform-style: preserve-3d;
				-webkit-transition: -webkit-transform 1s;
				-moz-transition: -moz-transform 1s;
				-ms-transition: -ms-transform 1s;
				-o-transition: -o-transform 1s;
				transition: transform 1s;
				.lado{
					.arredondada(10px);
					text-align:center;
					display:block;
					position:absolute;
					width:100%;
					height:100%;
					-webkit-backface-visibility:hidden;
					-moz-backface-visibility:hidden;
					-ms-backface-visibility:hidden;
					-o-backface-visibility:hidden;
					backface-visibility:hidden;
					&.frente{
						background:#fff;
						img{
							margin:25px;
						}
					}
					&.tras{
						background:@vermelho_rodape;
						color:#fff;
						-webkit-transform: rotateY(180deg);
						-moz-transform: rotateY(180deg);
						-ms-transform: rotateY(180deg);
						-o-transform: rotateY(180deg);
						transform: rotateY(180deg);
						.titulo{
							.verdana(20px, bold);
							line-height:100%;
							margin-bottom:5px;
							margin-top:60px;
						}
						.tagline{
							.verdana(14px);
						}
						.categoria{
							width:100%;
							.crimson_bold_italico(16px);
							position:absolute;
							text-align:center;
							bottom:60px;
						}
					}
				}
				&:hover, &.flipped{
					-webkit-transform:rotateY(180deg);
					-moz-transform:rotateY(180deg);
					-ms-transform:rotateY(180deg);
					-o-transform:rotateY(180deg);
					transform:rotateY(180deg);
				}
			}
		}
	}
}