.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.main{padding:10px 0;}.main .centro{width:980px;padding:0 0;margin:0 auto;}.main .centro h1{padding:0 10px;color:#fff;background-color:#c01944;height:40px;line-height:40px;margin-bottom:10px;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;}
.main .centro .novidade{width:100%;margin-bottom:45px;font-size:0;}.main .centro .novidade img{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:20px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
.main .centro .novidade a{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:900px;position:relative;padding:30px 40px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;color:#fff;}.main .centro .novidade a.short{width:580px;}
.main .centro .novidade a.azul{background-color:#5d9de4;}
.main .centro .novidade a.verde{background-color:#8ac918;}
.main .centro .novidade a.vermelho{background-color:#fe002a;}
.main .centro .novidade a.amarelo{background-color:#ffb013;}
.main .centro .novidade a:hover .ler-mais{color:#fff;background-color:#c01944;}
.main .centro .novidade a .data{padding-bottom:2px;line-height:100%;width:195px;border-bottom:1px #fff solid;font-family:'Verdana','Arial',sans-serif;font-size:11px;font-weight:normal;}
.main .centro .novidade a h2{font-family:'Open Sans Condensed','Arial',sans-serif;font-size:30px;font-weight:300;line-height:140%;margin-bottom:10px;}
.main .centro .novidade a .olho{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:140%;}
.main .centro .novidade a .ler-mais{padding:0 18px;height:30px;line-height:30px;background-color:#CCC;color:#34393a;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;text-align:right;position:absolute;bottom:-15px;right:20px;width:144px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main .centro .nov-topo{margin:20px 0;padding:30px 40px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;color:#fff;}.main .centro .nov-topo.azul{background-color:#5d9de4;}
.main .centro .nov-topo.verde{background-color:#8ac918;}
.main .centro .nov-topo.vermelho{background-color:#fe002a;}
.main .centro .nov-topo.amarelo{background-color:#ffb013;}
.main .centro .nov-topo .data{padding-bottom:2px;line-height:100%;width:195px;border-bottom:1px #fff solid;font-family:'Verdana','Arial',sans-serif;font-size:11px;font-weight:normal;}
.main .centro .nov-topo h2{font-family:'Open Sans Condensed','Arial',sans-serif;font-size:30px;font-weight:300;line-height:140%;margin-bottom:10px;}
.main .centro .detalhe{font-size:0;}.main .centro .detalhe img.img-novidade{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:20px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
.main .centro .detalhe .texto{-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;display:block;color:#34393a;width:880px;margin:-40px auto 0 auto;padding:30px;}.main .centro .detalhe .texto.short{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:600px;margin:-40px 0 0 0 !important;}.main .centro .detalhe .texto.short img{-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;max-width:600px !important;}
.main .centro .detalhe .texto.azul{background-color:#95bfed;}
.main .centro .detalhe .texto.verde{background-color:#b3db68;}
.main .centro .detalhe .texto.vermelho{background-color:#fe5973;}
.main .centro .detalhe .texto.amarelo{background-color:#ffcb64;}
.main .centro .detalhe .texto img{-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;max-width:920px;margin:15px auto;display:block;}
.main .centro .detalhe .texto p{margin:15px 0;line-height:160%;}
.main .centro .navegacao{margin:50px 0;}.main .centro .navegacao .link-voltar{padding:0 20px;height:30px;line-height:30px;width:250px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;text-align:center;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;color:#E08DA2;background-color:#c01944;display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main .centro .navegacao .link-voltar:active,.main .centro .navegacao .link-voltar:visited{color:#E08DA2;}
.main .centro .navegacao .link-voltar:hover{color:#fff;}
.main .centro .navegacao .paginacao{float:right;height:30px;}.main .centro .navegacao .paginacao a{display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;margin:0 5px;background-color:#CCC;color:#34393a;padding:0 20px;height:30px;line-height:30px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;}.main .centro .navegacao .paginacao a:active,.main .centro .navegacao .paginacao a:visited{color:#34393a;}
.main .centro .navegacao .paginacao a:hover{color:#fff;background-color:#c01944;}
.main .centro .navegacao .paginacao a .pad-l{padding-left:50px;}
.main .centro .navegacao .paginacao a .pad-r{padding-right:50px;}
.main .centro #paginacao{margin:70px 0;text-align:center;}.main .centro #paginacao a{display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;margin:0 5px;background-color:#CCC;color:#34393a;padding:0 20px;height:30px;line-height:30px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;}.main .centro #paginacao a:active,.main .centro #paginacao a:visited{color:#34393a;}
.main .centro #paginacao a:hover{color:#fff;background-color:#c01944;}
.main .centro #paginacao a .pad-l{padding-left:50px;}
.main .centro #paginacao a .pad-r{padding-right:50px;}
