@import 'vars.less';

.main{
	padding:10px 0;
	.centro{
		.centralizar;
		h1{
			padding:0 10px;
			color:#fff;
			background-color:@vermelho_home_slides;
			height:40px;
			line-height:40px;
			margin-bottom:10px;
			.crimson_bold_italico(30px);
			.arredondada(6px);		
		}
		.novidade{
			width:100%;
			margin-bottom:45px;
			font-size:0;
			img{
				.inline;
				margin-right:20px;
				.arredondada(10px);
			}
			a{
				.inline;
				width:900px;
				&.short{ width:580px; }
				position:relative;
				padding:30px 40px;
				.arredondada(10px);
				.transition;
				color:#fff;
				&.azul{ background-color:@novidades_azul; }
				&.verde{ background-color:@novidades_verde; }
				&.vermelho{ background-color:@novidades_vermelho; }
				&.amarelo{ background-color:@novidades_amarelo; }
				&:hover{
					.ler-mais{
						color:#fff;
						background-color:@vermelho_home_slides;
					}
				}
				.data{
					padding-bottom:2px;
					line-height:100%;
					width:195px;
					border-bottom:1px #fff solid;
					.verdana(11px);
				}
				h2{
					.open(30px);
					line-height:140%;
					margin-bottom:10px;
				}
				.olho{
					.verdana(14px);
					line-height: 140%;
				}
				.ler-mais{
					padding:0 18px;
					height:30px;
					line-height:30px;
					background-color:#CCC;
					color:@quase_preto;
					.crimson_bold_italico(16px);
					text-align:right;
					position:absolute;
					bottom:-15px;
					right:20px;
					width:144px;
					.arredondada(10px);
					.transition;
				}
			}
		}
		.nov-topo{
			margin:20px 0;
			padding:30px 40px;
			.arredondada(10px);
			.transition;
			color:#fff;
			&.azul{ background-color:@novidades_azul; }
			&.verde{ background-color:@novidades_verde; }
			&.vermelho{ background-color:@novidades_vermelho; }
			&.amarelo{ background-color:@novidades_amarelo; }
			.data{
				padding-bottom:2px;
				line-height:100%;
				width:195px;
				border-bottom:1px #fff solid;
				.verdana(11px);
			}
			h2{
				.open(30px);
				line-height:140%;
				margin-bottom:10px;
			}
		}
		.detalhe{
			font-size:0;
			img.img-novidade{
				.inline;
				margin-right:20px;
				.arredondada(10px);
			}
			.texto{
				.arredondada(10px);
				.verdana(14px);
				display:block;
				color:@quase_preto;
				width:880px;
				margin:-40px auto 0 auto;
				padding:30px;
				&.short{
					.inline;
					width:600px; 
					margin:-40px 0 0 0 !important;
					img{
						.arredondada(10px);
						max-width:600px !important;
					}
				}
				
				&.azul{ background-color:@novidades_azul_claro; }
				&.verde{ background-color:@novidades_verde_claro; }
				&.vermelho{ background-color:@novidades_vermelho_claro; }
				&.amarelo{ background-color:@novidades_amarelo_claro; }
				img{
					.arredondada(10px);
					max-width:920px;
					margin:15px auto;
					display:block;
				}
				p{
					margin:15px 0;
					line-height:160%;
				}
			}
		}
		.navegacao{
			margin:50px 0;
			.link-voltar{
				padding:0 20px;
				height:30px;
				line-height:30px;
				width:250px;
				.arredondada(10px);
				text-align:center;
				.crimson_bold_italico(16px);
				color:#E08DA2;
				background-color:@vermelho_home_slides;
				.inline;
				.transition;
				&:active, &:visited{ color:#E08DA2; }
				&:hover{
					color:#fff;
				}
			}
			.paginacao{
				float:right;
				height:30px;
				a{
					.inline;
					.transition;
					margin:0 5px;
					background-color:#CCC;
					color:@quase_preto;
					padding:0 20px;
					height:30px;
					line-height:30px;
					.arredondada(10px);
					.crimson_bold_italico(16px);
					&:active, &:visited{ color:@quase_preto; }
					&:hover{
						color:#fff;
						background-color:@vermelho_home_slides;
					}
					.pad-l{ padding-left:50px; }
					.pad-r{ padding-right:50px; }					
				}
			}
		}
		#paginacao{
			margin:70px 0;
			text-align:center;
			a{
				.inline;
				.transition;
				margin:0 5px;
				background-color:#CCC;
				color:@quase_preto;
				padding:0 20px;
				height:30px;
				line-height:30px;
				.arredondada(10px);
				.crimson_bold_italico(16px);
				&:active, &:visited{ color:@quase_preto; }
				&:hover{
					color:#fff;
					background-color:@vermelho_home_slides;
				}
				.pad-l{ padding-left:50px; }
				.pad-r{ padding-right:50px; }
			}
		}
	}
}