@import 'vars.less';

.centro{
	.centralizar;
	position:relative;
	#nav-animais{
		width:400px;
		height:60px;
		font-size:0;
		position:absolute;
		top:-30px;
		right:0;
		.faixa{
			height:20px;
			line-height:20px;
			padding:0 5px;
			width:390px;
			position:absolute;
			z-index:1;
			top:20px;
			left:0;
			background-color:@quase_preto;
			color:#fff;
			.verdana(12px);
		}
		.links-container{
			z-index:3;
			width:320px;
			position:absolute;
			top:0;
			height:60px;
			left:77px;
			a{
				.transition;
				.inline;
				height:60px;
				width:60px;
				line-height:60px;
				margin-right:5px;
				&.link-caes{
					background:url('../_imgs/layout/menu-caes-branco_menor.png') center center no-repeat;
					&:hover, &.ativo{
						background:url('../_imgs/layout/menu-caes-chumbo_menor.png') center center no-repeat;
					}
				}
				&.link-gatos{
					background:url('../_imgs/layout/menu-gatos-branco_menor.png') center center no-repeat;
					&:hover, &.ativo{
						background:url('../_imgs/layout/menu-gatos-chumbo_menor.png') center center no-repeat;
					}
				}
				&.link-aves{
					background:url('../_imgs/layout/menu-aves-branco_menor.png') center center no-repeat;
					&:hover, &.ativo{
						background:url('../_imgs/layout/menu-aves-chumbo_menor.png') center center no-repeat;
					}
				}
				&.link-peixes{
					background:url('../_imgs/layout/menu-peixes-branco_menor.png') center center no-repeat;
					&:hover, &.ativo{
						background:url('../_imgs/layout/menu-peixes-chumbo_menor.png') center center no-repeat;
					}
				}
				&.link-outros{
					margin-right:0;
					background:url('../_imgs/layout/menu-outros-branco_menor.png') center center no-repeat;
					&:hover, &.ativo{
						background:url('../_imgs/layout/menu-outros-chumbo_menor.png') center center no-repeat;
					}
				}
			}
		}
	}
	h1{
		height:40px;
		line-height:40px;
		padding:0 10px;
		margin:10px 0 5px 0;
		.arredondada(6px);
		.crimson_bold_italico(30px);
		color:@quase_preto;
		position:relative;
		a{
			position:absolute;
			text-align:center;
			display:block;
			width:130px;
			height:25px;
			line-height:25px;
			right:320px;
			top:10px;
			z-index:0;
			color:@quase_preto;
			.verdana(12px, bold);
			.transition;
			&.active, &:visited{color:@quase_preto;}
			&:hover{ color:#fff; }
		}
	}
	&.todos{
		h1{
			background-color:@cor_todos;
		}
	}
	&.boutique{
		h1{
			background-color:@cor_boutique;
		}
	}
	&.alimentacao{
		h1{
			background-color:@cor_alimentacao;
		}
	}
	&.higiene_e_beleza{
		h1{
			background-color:@cor_higiene;
		}
	}
	&.farmacia{
		h1{
			background-color:@cor_farmacia;
		}
	}
	.lista-categorias{
		a{
			.inline;
			padding:0 10px;
			margin-bottom: 5px;
			width:auto;
			.arredondada(6px);
			.crimson_bold_italico(16px);
			text-align:center;
			color:#fff;
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover, &.ativo{
				color:@quase_preto;
			}
			&.todos{ background-color:#AAA; }
			&.boutique{ background-color:@cor_boutique; }
			&.alimentacao{ background-color:@cor_alimentacao; }
			&.higiene_e_beleza{ background-color:@cor_higiene; }
			&.farmacia{ background-color:@cor_farmacia; }
		}
	}
	.lista-produtos{
		padding:30px 0;
		min-height:400px;
		&.det{ min-height:180px; }
		font-size:0;
		#breadcrumbs{
			.verdana(11px);
			color:#fff;
			margin-bottom:15px;
			a{
				.verdana(11px, bold);
				color:#fff;
				.transition;
				&:active, &:visited{color:#fff;}
				&:hover{
					color:@vermelho_rodape;
				}
			}
		}
		h3.no-result{
			text-align: center;
			margin:40px 0;
			height:50px;
			line-height:50px;
			.crimson_bold_italico(22px);
			color:#fff;
		}
		a.link{
			display:block;
			overflow:hidden;
			position:relative;
			padding:8px;
			z-index:0;
			background-color:#fff;
			width:164px;
			height:164px;
			margin-bottom:20px;
			margin-right:20px;
			.arredondada(10px);
			&.ultimo{margin-right:0;}
			.inline;
			.secao{
				text-align:center;
				height:17px;
				line-height:17px;
				overflow:hidden;
				white-space:normal;
				.crimson_bold_italico(12px);
				&.todos{ border-bottom:1px #CCC solid; color:#CCC; }
				&.boutique{ border-bottom:1px #FFB013 solid; color:#FFB013; }
				&.alimentacao{ border-bottom:1px #8AC918 solid; color:#8AC918; }
				&.higiene_e_beleza{ border-bottom:1px #5D9DE4 solid; color:#5D9DE4; }
				&.farmacia{ border-bottom:1px #FE002A solid; color:#FE002A; }
			}
			img{
				display:block;
				margin:2px auto;
				width:120px;
				height:120px;
			}
			.titulo{
				.verdana(12px);
				color:@quase_preto;
				text-align:center;
				white-space:normal;
				line-height:120%;
				height:30px;
				overflow:hidden;
			}
			.overlay{
				.transition;
				position:absolute;
				top:0;
				left:0;
				width:180px;
				height:180px;
				.arredondada(10px);
				opacity:0;
				z-index:999;
				&.todos{ background-color:@cor_todos; }
				&.boutique{ background-color:@amarelo; }
				&.alimentacao{ background-color:@verde; }
				&.higiene_e_beleza{ background-color:@azul; }
				&.farmacia{ background-color:@vermelho; }
				.verdana(14px, bold);
				color:@quase_preto;
				line-height:180px;
				text-align:center;
			}
			.overlay-texto{
				.transition;
				position:absolute;
				top:0;
				left:0;
				width:180px;
				height:180px;
				.arredondada(10px);
				opacity:0;
				z-index:99999;
				.verdana(14px, bold);
				color:@quase_preto;
				line-height:180px;
				text-align:center;	
			}
			&:hover{
				.overlay{ opacity:0.8; }
				.overlay-texto{ opacity:1; }
			}
		}
		.paginacao{
			height:30px;
			a{
				.inline;
				.transition;
				margin:0 5px;
				background-color:#CCC;
				color:@quase_preto;
				padding:0 20px;
				height:30px;
				line-height:30px;
				.arredondada(10px);
				.crimson_bold_italico(16px);
				&:active, &:visited{ color:@quase_preto; }
				&:hover{
					color:#fff;
					background-color:@vermelho_home_slides;
				}
				.pad-l{ padding-left:50px; }
				.pad-r{ padding-right:50px; }					
			}
		}
	}
	#detalhe-produto{
		margin:25px 0;
		padding:20px 0;
		font-size:0;
		&.todos{ border-top:1px @cor_todos solid; }
		&.boutique{ border-top:1px @cor_boutique solid; }
		&.alimentacao{ border-top:1px @cor_alimentacao solid; }
		&.higiene_e_beleza{ border-top:1px @cor_higiene solid; }
		&.farmacia{ border-top:1px @cor_farmacia solid; }
		#imagem-container{
			.inline;
			width:440px;
			#imagem-ampliada{
				.inline;
				width:440px;
				height:440px;
				overflow:hidden;
				position:relative;
				background-color:#fff;
				.arredondada(20px 20px 0 0);
				img{
					position:absolute;
					top:0;
					left:0;
					.arredondada(20px 20px 0 0);	
				}
			}
			#legenda-imagem{
				background-color:#fff;
				padding-bottom:3px;
				text-align:center;
				width:440px;
				color:@quase_preto;
				line-height:120%;
				height:20px;
				.crimson_italico(16px);
				.arredondada(0 0 20px 20px);
			}
		}
		#descricao{
			.inline;
			width:510px;
			min-height:440px;
			padding:25px 0 0 30px;
			h2{
				.crimson_italico(30px);
				color:#fff;
				margin:0 0 20px 0;
				line-height:100%;
			}
			h4{
				.verdana(12px, bold);
				color:#fff;
				margin-bottom:5px;
			}
			p{
				.verdana(12px);
				color:#fff;
				line-height:140%;
			}
			.indicacoes-animais{
				padding:10px 0;
				margin:20px 0;
				height:40px;
				line-height:40px;
				.verdana(12px, bold);
				color:#fff;
				&.todos{ border-top:1px @cor_todos solid; border-bottom:1px @cor_todos solid; }
				&.boutique{ border-top:1px @cor_boutique solid; border-bottom:1px @cor_boutique solid; }
				&.alimentacao{ border-top:1px @cor_alimentacao solid; border-bottom:1px @cor_alimentacao solid; }
				&.higiene_e_beleza{ border-top:1px @cor_higiene solid; border-bottom:1px @cor_higiene solid; }
				&.farmacia{ border-top:1px @cor_farmacia solid; border-bottom:1px @cor_farmacia solid; }
				img{
					vertical-align:middle;
					height:40px;
					margin-left:8px;
				}
			}
			a.variacoes{
				.transition;
				.inline;
				margin-right:10px;
				margin-bottom:10px;
				img{ .arredondada(10px); }
				&:active, &:visited{}
				&:hover{}
			}
		}
	}
}

.modal{
	background:url('../_imgs/layout/bg-listrado.png') repeat;
	font-size:0;
	.centro{
		padding:20px;
		width:925px !important;
		h1{
			.inline;
			width:470px;
			margin-right:10px;
			vertical-align: middle;
			&.boutique{background-color:@cor_boutique;}
			&.alimentacao{background-color:@cor_alimentacao;}
			&.higiene_e_beleza{background-color:@cor_higiene;}
			&.farmacia{background-color:@cor_farmacia;}
		}
		h2{
			height:24px;
			line-height:24px;
			padding:0 15px;
			.arredondada(6px);
			color:@quase_preto;
			.crimson_bold_italico(16px);
			.inline;
			vertical-align: middle;
			&.boutique{background-color:@cor_boutique;}
			&.alimentacao{background-color:@cor_alimentacao;}
			&.higiene_e_beleza{background-color:@cor_higiene;}
			&.farmacia{background-color:@cor_farmacia;}			
		}
		#detalhe-produto #descricao{
			width:455px !important;
		}
	}
	
}