.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.flip{-moz-transform:scalex(-1);-o-transform:scalex(-1);-webkit-transform:scalex(-1);transform:scalex(-1);filter:FlipH;-ms-filter:"FlipH";}
.centro{width:980px;padding:0 0;margin:0 auto;position:relative;}.centro #nav-animais{width:400px;height:60px;font-size:0;position:absolute;top:-30px;right:0;}.centro #nav-animais .faixa{height:20px;line-height:20px;padding:0 5px;width:390px;position:absolute;z-index:1;top:20px;left:0;background-color:#34393a;color:#fff;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;}
.centro #nav-animais .links-container{z-index:3;width:320px;position:absolute;top:0;height:60px;left:77px;}.centro #nav-animais .links-container a{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;display:inline-block;*display:inline;zoom:1;vertical-align:top;height:60px;width:60px;line-height:60px;margin-right:5px;}.centro #nav-animais .links-container a.link-caes{background:url('../_imgs/layout/menu-caes-branco_menor.png') center center no-repeat;}.centro #nav-animais .links-container a.link-caes:hover,.centro #nav-animais .links-container a.link-caes.ativo{background:url('../_imgs/layout/menu-caes-chumbo_menor.png') center center no-repeat;}
.centro #nav-animais .links-container a.link-gatos{background:url('../_imgs/layout/menu-gatos-branco_menor.png') center center no-repeat;}.centro #nav-animais .links-container a.link-gatos:hover,.centro #nav-animais .links-container a.link-gatos.ativo{background:url('../_imgs/layout/menu-gatos-chumbo_menor.png') center center no-repeat;}
.centro #nav-animais .links-container a.link-aves{background:url('../_imgs/layout/menu-aves-branco_menor.png') center center no-repeat;}.centro #nav-animais .links-container a.link-aves:hover,.centro #nav-animais .links-container a.link-aves.ativo{background:url('../_imgs/layout/menu-aves-chumbo_menor.png') center center no-repeat;}
.centro #nav-animais .links-container a.link-peixes{background:url('../_imgs/layout/menu-peixes-branco_menor.png') center center no-repeat;}.centro #nav-animais .links-container a.link-peixes:hover,.centro #nav-animais .links-container a.link-peixes.ativo{background:url('../_imgs/layout/menu-peixes-chumbo_menor.png') center center no-repeat;}
.centro #nav-animais .links-container a.link-outros{margin-right:0;background:url('../_imgs/layout/menu-outros-branco_menor.png') center center no-repeat;}.centro #nav-animais .links-container a.link-outros:hover,.centro #nav-animais .links-container a.link-outros.ativo{background:url('../_imgs/layout/menu-outros-chumbo_menor.png') center center no-repeat;}
.centro h1{height:40px;line-height:40px;padding:0 10px;margin:10px 0 5px 0;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:600;font-style:italic;color:#34393a;position:relative;}.centro h1 a{position:absolute;text-align:center;display:block;width:130px;height:25px;line-height:25px;right:320px;top:10px;z-index:0;color:#34393a;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.centro h1 a.active,.centro h1 a:visited{color:#34393a;}
.centro h1 a:hover{color:#fff;}
.centro.todos h1{background-color:#cccccc;}
.centro.boutique h1{background-color:#ffb013;}
.centro.alimentacao h1{background-color:#8ac918;}
.centro.higiene_e_beleza h1{background-color:#5d9de4;}
.centro.farmacia h1{background-color:#fe002a;}
.centro .lista-categorias a{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding:0 10px;margin-bottom:5px;width:auto;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;text-align:center;color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.centro .lista-categorias a:active,.centro .lista-categorias a:visited{color:#fff;}
.centro .lista-categorias a:hover,.centro .lista-categorias a.ativo{color:#34393a;}
.centro .lista-categorias a.todos{background-color:#AAA;}
.centro .lista-categorias a.boutique{background-color:#ffb013;}
.centro .lista-categorias a.alimentacao{background-color:#8ac918;}
.centro .lista-categorias a.higiene_e_beleza{background-color:#5d9de4;}
.centro .lista-categorias a.farmacia{background-color:#fe002a;}
.centro .lista-produtos{padding:30px 0;min-height:400px;font-size:0;}.centro .lista-produtos.det{min-height:180px;}
.centro .lista-produtos #breadcrumbs{font-family:'Verdana','Arial',sans-serif;font-size:11px;font-weight:normal;color:#fff;margin-bottom:15px;}.centro .lista-produtos #breadcrumbs a{font-family:'Verdana','Arial',sans-serif;font-size:11px;font-weight:bold;color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.centro .lista-produtos #breadcrumbs a:active,.centro .lista-produtos #breadcrumbs a:visited{color:#fff;}
.centro .lista-produtos #breadcrumbs a:hover{color:#bb214e;}
.centro .lista-produtos h3.no-result{text-align:center;margin:40px 0;height:50px;line-height:50px;font-family:'PT Serif','Times New Roman',serif;font-size:22px;font-weight:600;font-style:italic;color:#fff;}
.centro .lista-produtos a.link{display:block;overflow:hidden;position:relative;padding:8px;z-index:0;background-color:#fff;width:164px;height:164px;margin-bottom:20px;margin-right:20px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}.centro .lista-produtos a.link.ultimo{margin-right:0;}
.centro .lista-produtos a.link .secao{text-align:center;height:17px;line-height:17px;overflow:hidden;white-space:normal;font-family:'PT Serif','Times New Roman',serif;font-size:12px;font-weight:600;font-style:italic;}.centro .lista-produtos a.link .secao.todos{border-bottom:1px #CCC solid;color:#CCC;}
.centro .lista-produtos a.link .secao.boutique{border-bottom:1px #FFB013 solid;color:#FFB013;}
.centro .lista-produtos a.link .secao.alimentacao{border-bottom:1px #8AC918 solid;color:#8AC918;}
.centro .lista-produtos a.link .secao.higiene_e_beleza{border-bottom:1px #5D9DE4 solid;color:#5D9DE4;}
.centro .lista-produtos a.link .secao.farmacia{border-bottom:1px #FE002A solid;color:#FE002A;}
.centro .lista-produtos a.link img{display:block;margin:2px auto;width:120px;height:120px;}
.centro .lista-produtos a.link .titulo{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#34393a;text-align:center;white-space:normal;line-height:120%;height:30px;overflow:hidden;}
.centro .lista-produtos a.link .overlay{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;position:absolute;top:0;left:0;width:180px;height:180px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;opacity:0;z-index:999;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#34393a;line-height:180px;text-align:center;}.centro .lista-produtos a.link .overlay.todos{background-color:#cccccc;}
.centro .lista-produtos a.link .overlay.boutique{background-color:#ffcb64;}
.centro .lista-produtos a.link .overlay.alimentacao{background-color:#b3db68;}
.centro .lista-produtos a.link .overlay.higiene_e_beleza{background-color:#5d9de4;}
.centro .lista-produtos a.link .overlay.farmacia{background-color:#ff1f44;}
.centro .lista-produtos a.link .overlay-texto{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;position:absolute;top:0;left:0;width:180px;height:180px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;opacity:0;z-index:99999;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#34393a;line-height:180px;text-align:center;}
.centro .lista-produtos a.link:hover .overlay{opacity:0.8;}
.centro .lista-produtos a.link:hover .overlay-texto{opacity:1;}
.centro .lista-produtos .paginacao{height:30px;}.centro .lista-produtos .paginacao a{display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;margin:0 5px;background-color:#CCC;color:#34393a;padding:0 20px;height:30px;line-height:30px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;}.centro .lista-produtos .paginacao a:active,.centro .lista-produtos .paginacao a:visited{color:#34393a;}
.centro .lista-produtos .paginacao a:hover{color:#fff;background-color:#c01944;}
.centro .lista-produtos .paginacao a .pad-l{padding-left:50px;}
.centro .lista-produtos .paginacao a .pad-r{padding-right:50px;}
.centro #detalhe-produto{margin:25px 0;padding:20px 0;font-size:0;}.centro #detalhe-produto.todos{border-top:1px #cccccc solid;}
.centro #detalhe-produto.boutique{border-top:1px #ffb013 solid;}
.centro #detalhe-produto.alimentacao{border-top:1px #8ac918 solid;}
.centro #detalhe-produto.higiene_e_beleza{border-top:1px #5d9de4 solid;}
.centro #detalhe-produto.farmacia{border-top:1px #fe002a solid;}
.centro #detalhe-produto #imagem-container{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:440px;}.centro #detalhe-produto #imagem-container #imagem-ampliada{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:440px;height:440px;overflow:hidden;position:relative;background-color:#fff;-webkit-border-radius:20px 20px 0 0;-moz-border-radius:20px 20px 0 0;-o-border-radius:20px 20px 0 0;border-radius:20px 20px 0 0;}.centro #detalhe-produto #imagem-container #imagem-ampliada img{position:absolute;top:0;left:0;-webkit-border-radius:20px 20px 0 0;-moz-border-radius:20px 20px 0 0;-o-border-radius:20px 20px 0 0;border-radius:20px 20px 0 0;}
.centro #detalhe-produto #imagem-container #legenda-imagem{background-color:#fff;padding-bottom:3px;text-align:center;width:440px;color:#34393a;line-height:120%;height:20px;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:400;font-style:italic;-webkit-border-radius:0 0 20px 20px;-moz-border-radius:0 0 20px 20px;-o-border-radius:0 0 20px 20px;border-radius:0 0 20px 20px;}
.centro #detalhe-produto #descricao{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:510px;min-height:440px;padding:25px 0 0 30px;}.centro #detalhe-produto #descricao h2{font-family:'PT Serif','Times New Roman',serif;font-size:30px;font-weight:400;font-style:italic;color:#fff;margin:0 0 20px 0;line-height:100%;}
.centro #detalhe-produto #descricao h4{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;color:#fff;margin-bottom:5px;}
.centro #detalhe-produto #descricao p{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#fff;line-height:140%;}
.centro #detalhe-produto #descricao .indicacoes-animais{padding:10px 0;margin:20px 0;height:40px;line-height:40px;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;color:#fff;}.centro #detalhe-produto #descricao .indicacoes-animais.todos{border-top:1px #cccccc solid;border-bottom:1px #cccccc solid;}
.centro #detalhe-produto #descricao .indicacoes-animais.boutique{border-top:1px #ffb013 solid;border-bottom:1px #ffb013 solid;}
.centro #detalhe-produto #descricao .indicacoes-animais.alimentacao{border-top:1px #8ac918 solid;border-bottom:1px #8ac918 solid;}
.centro #detalhe-produto #descricao .indicacoes-animais.higiene_e_beleza{border-top:1px #5d9de4 solid;border-bottom:1px #5d9de4 solid;}
.centro #detalhe-produto #descricao .indicacoes-animais.farmacia{border-top:1px #fe002a solid;border-bottom:1px #fe002a solid;}
.centro #detalhe-produto #descricao .indicacoes-animais img{vertical-align:middle;height:40px;margin-left:8px;}
.centro #detalhe-produto #descricao a.variacoes{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:10px;margin-bottom:10px;}.centro #detalhe-produto #descricao a.variacoes img{-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;}
.modal{background:url('../_imgs/layout/bg-listrado.png') repeat;font-size:0;}.modal .centro{padding:20px;width:925px !important;}.modal .centro h1{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:470px;margin-right:10px;vertical-align:middle;}.modal .centro h1.boutique{background-color:#ffb013;}
.modal .centro h1.alimentacao{background-color:#8ac918;}
.modal .centro h1.higiene_e_beleza{background-color:#5d9de4;}
.modal .centro h1.farmacia{background-color:#fe002a;}
.modal .centro h2{height:24px;line-height:24px;padding:0 15px;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;color:#34393a;font-family:'PT Serif','Times New Roman',serif;font-size:16px;font-weight:600;font-style:italic;display:inline-block;*display:inline;zoom:1;vertical-align:top;vertical-align:middle;}.modal .centro h2.boutique{background-color:#ffb013;}
.modal .centro h2.alimentacao{background-color:#8ac918;}
.modal .centro h2.higiene_e_beleza{background-color:#5d9de4;}
.modal .centro h2.farmacia{background-color:#fe002a;}
.modal .centro #detalhe-produto #descricao{width:455px !important;}
