@largura:980px;

@vermelho:#FF1F44;
@azul:#5D9DE4;
@amarelo:#FFCB64;
@amarelo_secao:#FFB013;
@verde:#B3DB68;

@novidades_azul:#5D9DE4;
@novidades_azul_claro:#95BFED;
@novidades_vermelho:#FE002A;
@novidades_vermelho_claro:#FE5973;
@novidades_amarelo:#FFB013;
@novidades_amarelo_claro:#FFCB64;
@novidades_verde:#8AC918;
@novidades_verde_claro:#B3DB68;

@vermelho_home_slides:#C01944;
@vermelho_rodape:#BB214E;
@cinza_claro:#ccc;
@quase_preto:#34393A;

@cor_todos:#ccc;
@cor_boutique:#FFB013;
@cor_alimentacao:#8AC918;
@cor_higiene:#5D9DE4;
@cor_farmacia:#FE002A;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}
.verdana(@fsize:12px, @fweight:normal){
	font-family:'Verdana','Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.crimson_italico(@fsize:12px){
	font-family: 'PT Serif', 'Times New Roman', serif;
	font-size:@fsize;
	font-weight:400;
	font-style: italic;
}
.crimson_bold_italico(@fsize:12px){
	font-family: 'PT Serif', 'Times New Roman', serif;
	font-size:@fsize;
	font-weight:600;
	font-style: italic;
}
.open(@fsize:12px){
	font-family:  'Open Sans Condensed','Arial', sans-serif;
	font-size:@fsize;
	font-weight:300;
}

.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;  
   -moz-transition:@prop @dur @type;  
   -o-transition:@prop @dur @type;  
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}

.flip{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";	
}